<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homedelivery/버터크림 케이크</title>
    <link rel="stylesheet" href="../../../styles/style.css">
</head>
<body>
    <main class="deli_main" id="deli_main">

        <div class="main_wrap">
            <!-- 메뉴 소개 및 이미지 -->
        <section class="deli_main_wrap" id="deli_main_img">
            <div class="deli_title_menu">
                <h2 class="deli_main_title">홈페이지 전용 예약 배송</h2>
                <ul>
                    <li><a href="#none">home ></a></li>
                    <li><a href="#none">delivery </a></li>
                </ul>
            </div>
            <img src="../../../img/app/homedelivery/dl_01.jpeg" alt="">
        </section>

        <!-- 메뉴 선택 -->
        <section class="deli_menu_wrap" id="deli_menu">
            <h3 class="no">메뉴선텍</h3>
            <ul class="deli_menu_bar">
                <li >
                    <a href="homedelivery_listAll.html"><img  src="../../../img/app/homedelivery/list.png" alt=""></a>
                    <p  class="menu_title" >전체</p>
                </li>
                <li>
                    <a href="homedelivery_list01.html"><img src="../../../img/app/homedelivery/dl_04.jpeg" alt=""></a>
                    <p  class="menu_title" >생크림 케이크</p>
                </li>
                <li>
                    <a href="homedelivery_list02.html"><img class="deli_menu_check" src="../../../img/app/homedelivery/dl_07.png" alt=""></a>
                    <p  class="menu_title" >무스 케이크</p>
                </li>
                <li>
                <a href="homedelivery_list03.html"><img  src="../../../img/app/homedelivery/dl_08.jpeg" alt=""></a>
                <p  class="menu_title" >버터크림 케이크</p>
                </li>
                <li>
                    <a href="homedelivery_list04.html"><img   src="../../../img/app/homedelivery/dl_02.jpeg" alt=""></a>
                    <p  class="menu_title" >선물류</p>
                </li>
            </ul>
        </section>

        <section class="deli_product_wrap" id="deli_product">
           
            <h2>무스 케이크</h2>
          
            <ul class="deli_product">

                <li>
                    <a href="#none">
                    <div class="product_wrap" >
                        <p class="deli_classify">무스 케이크</p>
                        <img src="../../../img/app/homedelivery/dl_02.jpeg" alt="">
                        <p class="deli_see_more"> 더보기 </p>
                    </div>
                    <p href="#none" class="product_title" >호두파운드+제주첫물녹차롤케이크+요거트웨이퍼샌드</a>
                    </p>
                 </li>


                <li>
                    <a href="#none">
                    <div class="product_wrap" >
                        <p class="deli_classify">무스 케이크</p>
                        <img src="../../../img/app/homedelivery/dl_07.png" alt="">
                        <p class="deli_see_more"> 더보기 </p>
                    </div>
                    <p  class="product_title" >고구마케이크1호+라즈베리 웨이퍼샌드
                    </p>
                    </a>
                 </li>
                <li>
                    <a href="#none">
                    <div class="product_wrap" >
                        <p class="deli_classify">무스 케이크</p>
                        <img src="../../../img/app/homedelivery/dl_08.jpeg" alt="">
                        <p class="deli_see_more"> 더보기 </p>
                    </div>
                    <p  class="product_title" >고구마&마스카포네티라미수+샴페인(대)
                    </p>
                    </a>
                 </li>
             

                <li>
                    <a href="#none">
                    <div class="product_wrap" >
                        <p class="deli_classify">무스 케이크</p>
                        <img src="../../../img/app/homedelivery/dl_15.jpeg" alt="">
                        <p class="deli_see_more"> 더보기 </p>
                    </div>
                    <p  class="product_title" >순우유딸기무스+샴페인[대]</p>
                    </a>
                 </li>

                <li>
                    <a href="#none">
                    <div class="product_wrap" >
                        <p class="deli_classify">무스 케이크</p>
                        <img src="../../../img/app/homedelivery/dl_16.jpeg" alt="">
                        <p class="deli_see_more"> 더보기 </p>
                    </div>
                    <p  class="product_title" >클래식치즈케이크3호+샴페인(대)</p>
                    </a>
                 </li>

                <li>
                    <a href="#none">
                    <div class="product_wrap" >
                        <p class="deli_classify">무스 케이크</p>
                        <img src="../../../img/app/homedelivery/dl_17.jpeg" alt="">
                        <p class="deli_see_more"> 더보기 </p>
                    </div>
                    <p  class="product_title" >클래식치즈케이크3호+롤케익</p>
                    </a>
                 </li>

             
            </ul>
            
        </section>
        
    </div>    
</main>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../../../js/app/homedelivery.js"></script>
</html>