<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약하기/reservation</title>
    <link rel="stylesheet" href="../../../styles/components/_reset.css">
    <link rel="stylesheet" href="../../../styles/app/reservation.css">
    <link rel="stylesheet" href="../../../styles/app/inquiry.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
    <main class="res_main">
        <div class="res_main_wrap">
        <h2 class="res_title">배송 주문을 위해 아래 정보를 입력해 주세요.</h2>
        <section id="section1">
            <h3 class="res_se_title">고객 정보를 입력해 주세요. 
                <strong class="res_strong">(필수)</strong>
            </h3>
            <table class="res_se_table">
                <tr>
                    <th>주문자 이름</th>
                    <td>
                        <input id="res_name" class="res_input_name" type="text" placeholder="주문자 이름">
                    </td>
                </tr>
                <tr>
                    <th>핸드폰 번호</th>
                    <td>
                        <input type="text" class="res_input_phone" value="010" id="phone_1">
                        <span>-</span>
                        <input  type="text" class="res_input_phone" id="phone_2">
                        <span>-</span>
                        <input  type="text" class="res_input_phone" id="phone_3">
                        <p class="absence">상담 및 결제링크 발송을 위해 정확한 전화번호를 입력해 주세요</p>
                        <p class="absence">전화번호 수정이 필요하신 경우, 회원정보 수정을 통해 전화번호를 변경해 주세요.</p>
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="text" class="res_input_phone" name="" id="email_1">
                        <span>@</span>
                        <input type="text" class="res_input_phone" value="" name="" id="email_2">
                        <select onchange="res_email()" id="com">
                            <option  name="com"  value="">직접입력 </option>
                            <option  name="com"  value="naver.com">naver.com </option>
                            <option  name="com"  value="hanmail.com">hanmail.com </option>
                            <option  name="com"  value="gmail.com ">gmail.com </option>
                            <option  name="com"  value="nate.com ">nate.com </option>
                            <option  name="com"  value="daum.net">daum.net </option>
                            <option  name="com"  value="hotmail.com">hotmail.com </option>
                            <option  name="com"  value="icloud.com">icloud.com </option>
                            <option  name="com"  value="yahoo.co.kr">yahoo.co.kr </option>
                            <option  name="com"  value="korea.kr">korea.kr </option>
                        </select>
                     
                        <script>
       
                            
                        </script>
                    </td>
                </tr>
                <tr>
                    <th class="res_se_quck_title">
                        <span>
                            배송요청사항
                        </span>
                      
                    </th>
                    <td>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                        <p class="absence">필요하신 초 개수를 남겨주세요 </p>
                        <p class="absence">배송시간 요청 및 특수한 요청은 접수되지 않습니다.</p>
                    </td>
                </tr>
            </table>
        </section>

        <section id="section2">
            <h3 class="res_se_title">배송 정보를 입력해 주세요. 
                <strong  class="res_strong">(필수)</strong>
            </h3>
            <table class="res_se_table">
                <tr>
                    <th >받으시는 분</th>
                    <td  >
                        <input id="res_name2" type="text" class="res_input_name" placeholder="성함">
                    </td>
                    </tr>
                <tr>
                    <th>전화번호</th>
                    <td>  <input type="text"  class="res_input_phone" value="010" id="phone_1">
                        <span>-</span>
                        <input type="text" class="res_input_phone"  id="phone_4">
                        <span>-</span>
                        <input type="text" class="res_input_phone"  id="phone_5"></td>
                </tr>
                <tr>
                    <th>배송 희망 날짜</th>
                    <td>
                        <p><input class="res_input_date" type="text" id="datepicker"></p>
                        <span class="absence">희망 배송일은 신청일로부터 3일 이후, 최대 30일 이내로 신청 가능합니다.(영업일 기준)</span>
                    </td>
                </tr>
                <tr>
                    <th>배송 희망 시간</th>
                    <td>
                        <select class="res_input_time">
                            <option name="" value="08:00 ~ 08:30">08:00 ~ 08:30</option>
                            <option name="" value="08:00 ~ 08:30">08:30 ~ 09:00</option>
                            <option name="" value="08:00 ~ 08:30">09:00 ~ 09:30</option>
                            <option name="" value="08:00 ~ 08:30">09:30 ~ 10:00</option>
                            <option name="" value="08:00 ~ 08:30">10:00 ~ 10:30</option>
                            <option name="" value="08:00 ~ 08:30">10:30 ~ 11:00</option>
                            <option name="" value="08:00 ~ 08:30">11:00 ~ 11:30</option>
                            <option name="" value="08:00 ~ 08:30">11:30 ~ 12:00</option>
                            <option name="" value="08:00 ~ 08:30">12:00  ~ 12:30</option>
                            <option name="" value="08:00 ~ 08:30">12:30 ~ 13:00</option>
                            <option name="" value="08:00 ~ 08:30">13:00 ~ 13:30</option>
                            <option name="" value="08:00 ~ 08:30">13:30 ~ 14:00</option>
                            <option name="" value="08:00 ~ 08:30">14:00 ~ 14:30</option>
                            <option name="" value="08:00 ~ 08:30">14:30 ~ 15:00</option>
                            <option name="" value="08:00 ~ 08:30">15:00 ~ 15:30</option>
                            <option name="" value="08:00 ~ 08:30">15:30 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:30</option>
                            <option name="" value="08:00 ~ 08:30">16:30 ~ 17:00</option>
                            <option name="" value="08:00 ~ 08:30">17:00 ~ 17:30</option>
                            <option name="" value="08:00 ~ 08:30">17:30 ~ 18:00</option>
                            <option name="" value="08:00 ~ 08:30">18:00 ~ 18:30</option>
                            <option name="" value="08:00 ~ 08:30">18:30 ~ 19:00</option>
                            <option name="" value="08:00 ~ 08:30">19:00 ~ 19:30</option>
                            <option name="" value="08:00 ~ 08:30">19:30 ~ 20:00</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th >
                        <span class="res_th_address">
                            배송지 주소
                        </span>
                    </th>
                    <td>
                        <input type="button" class="res_input_btn" onclick="sample6_execDaumPostcode()" value="주소찾기">
                        <input type="text" class="res_input_address" id="sample6_address" placeholder="주소"><br>
                        <input type="text"class="res_input_detailaddress" id="sample6_detailAddress" placeholder="상세주소">
                    </td>
                </tr>
            </table>
        </section>
¬ø
        <section id="section3">
            <h2 class="res_se3_title">배달 받으실 상품을 확인해 주세요.</h2>
            <div class="res_section3">
                <div class="res_se3_wrap">


                <div class="res_se3_check_inpo">
                    <ul>
                        <li class="res_se3_check_title">상품 [옵션]</li>
                        <li>주문금액</li>
                        <li>수량</li>
                        <li>합계</li>
                        <li>배송비</li>
                    </ul>
                </div>
                <div class="res_se3_goods">
                    <ul>
                        <li class="res_se3_goods_title">
                            <img style="height: 100px; " src="../../../img/app/homedelivery/dl_02.jpeg" alt="">
                            <p class="res_se3_0">

                                <span class="res_se3_1">2일전 예약주문</span>
                                <br>
                                <span class="res_se3_2">호두파운드 + 제주첫물녹차롤케이크<br>+요거트우에퍼샌드</span>
                            </p>
                        </li>
                        <li>
                            45,000원
                        </li>
                        <li>
                            1개
                        </li>
                        <li>
                            45,000원
                        </li>
                        <li>
                            5,000원
                        </li>
                    </ul>
                </div>

                <div class="res_se3_totla">
                    <span> 주문금액 합계
                        45,000
                        <strong>+</strong>
                        배송비 5,000
                        <strong>=</strong>
                        <strong>
                            총 주문금액 50,000원
                        </strong>
                    </span>
                </div>
            </div>
        </div> 
        </section>
        <a href="#none" id="res_sell" class="res_sell">
            <p class="res_sell_title">결제하기</p>
            </a>
        </div>
    </main>
</body>

<script src="../../../js/app/reservation.js"></script>

</html>