<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inquiry/문의하기</title>
    <link rel="stylesheet" href="../../../styles/app/reservation.css">
    <link rel="stylesheet" href="../../../styles/style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

   
</head>
<body>
    <main class="qur_main_wrap">
        <h2 class="servicecenter_title">주문배송</h2>
        <div class="qur_quck_manu">
            <p class="qur_quck_manu_check">주문배송</p>
            <p>결제하기</p>
        </div>

        <div class="qur_sub_txt">
            배송 받으실 상품을 확인해주세요
            <br>
            <span class="qur_explanation"> (토 , 일 , 공휴일 배송신청은 평일 운영시간 순차적으로 배송됩니다.)</span>
        </div>
        <section id="section3">
            <div class="res_section3">
                <div class="res_se3_wrap">

                <div class="res_se3_check_inpo">
                    <ul>
                        <li class="res_se3_check_title">상품 [옵션]</li>
                        <li>주문금액</li>
                        <li>수량</li>
                        <li>합계</li>
                        <li>배송비</li>
                    </ul>
                </div>
                <div class="res_se3_goods">
                    <ul>
                        <li class="res_se3_goods_title">
                            <img style="height: 100px; " src="../../../img/app/homedelivery/dl_02.jpeg" alt="">
                            <p class="res_se3_0">

                                <span class="res_se3_1">2일전 예약주문</span>
                                <br>
                                <span class="res_se3_2">호두파운드 + 제주첫물녹차롤케이크<br>+요거트우에퍼샌드</span>
                            </p>
                        </li>
                        <li>
                            45,000원
                        </li>
                        <li>
                            1개
                        </li>
                        <li>
                            45,000원
                        </li>
                        <li>
                            5,000원
                        </li>
                    </ul>
                </div>

                <div class="res_se3_totla">
                    <span> 주문금액 합계
                        45,000
                        <strong>+</strong>
                        배송비 5,000
                        <strong>=</strong>
                        <strong style="color: #ff6900;">
                            총 주문금액 50,000원
                        </strong>
                    </span>
                </div>
            </div>
        </div> 
        </section>

        <section class="qur_se01">

            <div class="qur_se01_agreement">
                개인정보 수집동의
                <span  class="qur_explanation">(자세한 내용은 홈페이지 하단의 "개인정보처리방침"을 확인하시기 바랍니다.)</span>
            </div>
            <div class="qur_agreement_wrap">
                <div class="qur_agreement">
                    <p>
                        1. 개인정보의 수집 및 이용 목적
                    </p>
                    <p>
                        불만 처리 및 문의사항 해결의 원활한 의사소통을 위하여 다음의 항목을 수집합니다.
                    </p>
                    <p>
                        2. 수집하는 개인정보의 항목
                    </p>
                    <p>
                        이름, 연락처, 이메일 주소
                    </p>
                    <p>
                        3. 개인정보의 보유 및 이용기간
                    </p>
                    <p>
                        해당 고객님의 고객센터 상담내역 확인을 위하여 <strong>상담이 완료된 시점부터 3년간</strong> 보관되며,
                    </p>
                    <p>
                        이후 인쇄물은 파쇄, 소각하고 전자적 파일 형태로 저장된 개인정보는
                    </p>
                    <p>
                        기록을 재생할 수 없는 기술적 방법을 사용해 삭제합니다.
                    </p>
                    <p>
                        4. 위의 개인정보 제공 동의에 거부할 수 있으며, 거부시 고객센터 온라인 문의가 제한될 수 있음을 알려드립니다.
                    </p>
                    <p>
                        관련 문의사항은 고객센터 1577-0700으로 문의해주시기 바랍니다.
                    </p>
                </div>
            </div>
            <div class="qur_agreement_check">
                <label for="qur_agreement_ok">
                    <input class="ac" type="radio" id="ag_ok" name="qur_agreement_ok">
                    <span>위에 정책에 동의합니다.</span>
                </label>
                <label for="qur_agreement_no">
                    <input  class="ac" type="radio" id="ag_no" name="qur_agreement_no">
                    <span>동의하지 않습니다.</span>
                </label>
            </div>
        </section>

        <section class="qur_se02">
            <h3 class="res_se_title">고객 정보를 입력해 주세요. 
                <strong class="res_strong">(필수)</strong>
            </h3>
            <ul class="qur_form_list">
                <li>
                    <span class="qur_list_top">
                        <i>*</i>
                        <label for="qur_name">주문자 이름</label>
                    </span>
                    <div class="qur_category_wrap">
                        <input id="qur_name" type="text" name="qur_name" class="qur_name">
                    </div>
                </li>
             

                <li>
                    <span>
                        <i>*</i>
                        <label for="qur_email">이메일</label>
                    </span>
                    <div class="qur_category_wrap">
                        <input id="qur_email" type="email" nmae="qur_email" class="qur_email">
                        @
                        <input id="qur_email_02" type="email" class="qur_email_02">
                        <select class="qur_email_category" name="" onchange="qur_email()" id="qur_email_change">
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="nate.com">nate.com</option>
                            <option value="daum.net">daum.net</option>
                        </select>
                    </div>
                </li>

                <li>
                    <span>
                        <i>*</i>
                        <label for="qur_phone">주문자 연락처</label>
                    </span>
                    <div class="qur_category_wrap">
                        <input id="qur_phone_01"  type="text" name="qur_phone" class="qur_phone">
                        - 
                        <input  id="qur_phone_02" type="text" class="qur_phone">
                        -  
                        <input  id="qur_phone_03" type="text" class="qur_phone">
                        
                    </div>
                </li>

                <li>
                    <span class="qur_list_bottom">
            
                        <label for="qur_detail">배송시 요청사항</label>
                    </span>
                    <div class="qur_category_wrap">
                    <textarea id="qur_detail" class="qur_detail" name="qur_detail" id="" cols="50" rows="10"></textarea>                        
                    </div>
                </li>
            </ul>

     
        </section>
        <section class="qur_se02">
            <h3 class="res_se_title">배송 정보를 입력해 주세요. 
                <strong  class="res_strong">(필수)</strong>
            </h3>
            <ul class="qur_form_list">
                <li>
                    <span class="qur_list_top">
                        <i>*</i>
                        <label for="qur_name_02">배송받을분 이름</label>
                    </span>
                    <div class="qur_category_wrap">
                        <input id="qur_name_02" type="text" name="qur_name_02" class="qur_name">
                    </div>
                </li>
             

                <li>
                    <span>
                        <i>*</i>
                        <label for="qur_phone">배송 받을분 연락처</label>
                    </span>
                    <div class="qur_category_wrap">
                        <input id="qur_phone_04"  type="text" name="qur_phone" class="qur_phone">
                        - 
                        <input  id="qur_phone_05" type="text" class="qur_phone">
                        -  
                        <input  id="qur_phone_06" type="text" class="qur_phone">
                        
                    </div>
                </li>
                <li>
                    <span>
                        <label for="datepicker">배송 희망 날짜</label>
                    </span>
                    <div class="qur_category_wrap">
                        <input  class="qur_calder" type="text" id="datepicker">

                    </div>
                </li>
                <li>
                    <span>
                        <label for="datepicker">배송 희망시간</label>
                    </span>
                    <div class="qur_category_wrap">
                  
                        <select  class="qur_time">
                            <option name="" value="08:00 ~ 08:30">08:00 ~ 08:30</option>
                            <option name="" value="08:00 ~ 08:30">08:30 ~ 09:00</option>
                            <option name="" value="08:00 ~ 08:30">09:00 ~ 09:30</option>
                            <option name="" value="08:00 ~ 08:30">09:30 ~ 10:00</option>
                            <option name="" value="08:00 ~ 08:30">10:00 ~ 10:30</option>
                            <option name="" value="08:00 ~ 08:30">10:30 ~ 11:00</option>
                            <option name="" value="08:00 ~ 08:30">11:00 ~ 11:30</option>
                            <option name="" value="08:00 ~ 08:30">11:30 ~ 12:00</option>
                            <option name="" value="08:00 ~ 08:30">12:00  ~ 12:30</option>
                            <option name="" value="08:00 ~ 08:30">12:30 ~ 13:00</option>
                            <option name="" value="08:00 ~ 08:30">13:00 ~ 13:30</option>
                            <option name="" value="08:00 ~ 08:30">13:30 ~ 14:00</option>
                            <option name="" value="08:00 ~ 08:30">14:00 ~ 14:30</option>
                            <option name="" value="08:00 ~ 08:30">14:30 ~ 15:00</option>
                            <option name="" value="08:00 ~ 08:30">15:00 ~ 15:30</option>
                            <option name="" value="08:00 ~ 08:30">15:30 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:00</option>
                            <option name="" value="08:00 ~ 08:30">16:00 ~ 16:30</option>
                            <option name="" value="08:00 ~ 08:30">16:30 ~ 17:00</option>
                            <option name="" value="08:00 ~ 08:30">17:00 ~ 17:30</option>
                            <option name="" value="08:00 ~ 08:30">17:30 ~ 18:00</option>
                            <option name="" value="08:00 ~ 08:30">18:00 ~ 18:30</option>
                            <option name="" value="08:00 ~ 08:30">18:30 ~ 19:00</option>
                            <option name="" value="08:00 ~ 08:30">19:00 ~ 19:30</option>
                            <option name="" value="08:00 ~ 08:30">19:30 ~ 20:00</option>
                        </select>
                    </div>
                </li>
                <li>
                    <span class="qur_list_bottom">
                        <label for="datepicker">배송지 주소</label>
                    </span>
                    <div class="qur_category_wrap">
                        <input type="button" class="qur_address_btn" onclick="sample6_execDaumPostcode()" value="주소찾기">
                        <input type="text" class="qur_address" id="sample6_address" placeholder="주소">
                        <input type="text"class="qur_address_detail" id="sample6_detailAddress" placeholder="상세주소">
                    </div>
                </li>

                
            </ul>
            <ul>

            </ul>
        </section>
        <div class="qur_click">
            <button class="qur_no" type="submit">작성취소</button>
            <button class="qur_ok" type="submit">결제하기</button>
        </div>
    </main>
    
</body>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../../../js/app/inquiry.js"> </script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>