<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>빵</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
    <header>

    </header>

    <main>
        <div class="h2_wrap">
            <h2 class="page_title">
                <span>빵</span>
            </h2>
        </div>

        <div class="category_wrap">
            
            <div class="hidden"> <!--추천제품-->
                <h3>뚜레주르 추천제품</h3>
                <ul>
                    <li>남해마늘로 만든 마늘 치킨 고로케</li>
                    <li>남해마늘로 만든 버터 갈릭 꽈배기</li>
                    <li>작다고 얕보지 마라볼</li>
                    <li>클래식 딸기잼 맘모스</li>
                    <li>데일리 베이글</li>
                </ul>
            </div>
            
            
            <div class="category_gift_wrap">
                <div class="product_category"><!--카테고리별 빵 보기 박스-->
                    <p>카테고리별 빵 보기</p>
                    <div class="product_category_toggle_wrap">
                        <form method="post">
                            <fieldset>
                                <legend class="hidden">카테고리 별 빵 보기</legend>
                                <ul>
                                    <li>
                                        <input type="checkbox" name="bread_all" id="bread_all">
                                        <label for="bread_all">모든 빵 보기</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="loaf_bread" id="loaf_bread">
                                        <label for="loaf_bread">식빵</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="healthy_bread" id="healthy_bread">
                                        <label for="healthy_bread">건강빵</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="dessert_bread" id="dessert_bread">
                                        <label for="dessert_bread">간식빵</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="pie_pastries" id="pie_pastries">
                                        <label for="pie_pastries">파이/패스트리</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" name="donut_goroke" id="donut_goroke">
                                        <label for="donut_goroke">도넛/고로케</label>
                                    </li>
                                </ul>
                            </fieldset>
                        </form>
        
                    </div>
                </div>
                <div class="mobile_gift_delivery
                "> <!--모바일/선물하기-->
                    <a href=""><img src="../../img/menu/mobile_gift_delivery_.jpg" alt="뚜레주르 제품 모바일로 구매/선물하기"></a>
                </div>
            </div>
            
        </div>

        <div class="product_wrap">
            
            <!--상세분류 셀렉터-->
            <div class="selector_wrap">
                <div class="selector_tab">
                    <a href="#"><span>상세분류</span></a>
                </div>
                <div class="selector_select">
                    <ul>
                        <li class="selector_select_new">
                            <span><input type="checkbox" name="select_kind1-1" id="select_kind1-1" data-target="new"> <label class="mark01" for="select_kind1-1">신제품 모아 보기</label></span>
                        </li>
                        <li class="selector_select_best">
                            <span><input type="checkbox" name="select_kind1-2" id="select_kind1-2" data-target="best"> <label class="mark02" for="select_kind1-2">베스트 제품 모아 보기</label></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="product_all">
                <dl class="product_view">
                    <a href=""> <!--dt 사진으로 보기 페이지-->
                        <dt id="view_pics" class="view_pics"><span>사진으로 보기</span></dt>
                    </a>
                    <dd id="view_pics_dd" class="view_pics_dd "> <!--dd 사진으로 보기 페이지-->
                        <dl> <!--모든 빵 리스트-->
                            <dt class="category_name"><span>식빵</dt></span>
                            <dd><!--식빵 리스트-->
                                <ul class="products_in_category">
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/honey_loafbread.jpg" alt="">
                                            <div class="best_stamp">
                                            <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                            <div class="product_detail">
                                                <p>꿀분말과 펄슈가를 넣어 건강한 단맛과 고소한 버터 풍미로 토스트 하였을 때 가장 맛있는 식빵</p>
                                                <div class="view_more"><p>자세히 보기</p></div>
                                            </div>
                                        </a>
                                        <p>그대로 구워먹는 꿀 토스트 식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/nice_whole_wheat_bread.jpg">
                                        </a>
                                        <p>착한빵식 통밀식빵</p>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/plain_dutchbread.jpg">
                                        </a>
                                        <p>고소 담백 더치브레드</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/toktok_seed_bread.jpg">
                                        </a>
                                        <p>고소함이 톡톡 곡물식빵</p>
                                    </li> -->
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/chestnut_bread.jpg">
                                        </a>
                                        <p>마구마구 밤식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/chestnut_bread_half.jpg">
                                        </a>
                                        <p>마구마구 밤식빵 1/2</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/72_denish_bread.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>72겹의 정성 데니쉬식빵</p>  
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/soon_bread.jpg">             
                                            <div class="best_stamp">
                                            <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>순,식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/seed_bread.jpg">
                                        </a>
                                        <p>고소한 곡물식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/tangjong_loafbread.jpg">
                                        </a>
                                        <p>촉촉 쫄깃 탕종식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/sangsang_bread.jpg">
                                            <div class="best_stamp">
                                            <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>生生 생크림 식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/gomebutter_bread.jpg">
                                            <div class="best_stamp">
                                            <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>고메 버터 식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/tongmilk_bread.jpg">
                                        </a>
                                        <p>통우유식빵</p>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/tongmilk_bread_half.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>통우유식빵 1/2</p>
                                    </li> -->
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/TLJ_cornplus_bread.jpg">
                                        </a>
                                        <p>TLJ옥수수듬뿍옥수수식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/TLJ_corn_bread.jpg">
                                        </a>
                                        <p>TLJ옥수수식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/puremilk_bread.jpg">
                                            <div class="best_stamp">
                                            <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>순수한 맛 순우유식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/puremilk_roll.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>순수한 맛 순우유롤(봉)</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/daily_milkbread.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>데일리 우유식빵</p>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/baro_toastbread.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>바로굽는 토스트식빵</p>
                                    </li> -->
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/morning_loafbread.jpg">
                                        </a>
                                        <p>담백한 모닝식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/pumkin_blacksesame_bread.jpg">
                                        </a>
                                        <p>호박검은깨식빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/soft_morning_roll.jpg">
                                        </a>
                                        <p>폭신폭신모닝롤</p>
                                    </li>
                                </ul>
                            </dd>
                            <dt class="category_name"><span>건강빵</span></dt>
                            <dd><!--건강빵 리스트-->
                                <ul  class="products_in_category">
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/daily_bagel.jpg">
                                        </a>
                                        <p>데일리 베이글</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/daily_blueberry_bagel.jpg">
                                        </a>
                                        <p>데일리 블루베리 베이글</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/daily_walnut_bagel.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>데일리 월넛 베이글</p>
                                        
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/wholewheat_bread.jpg">
                                        </a>
                                        <p>착한빵식 통밀빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/daily_ciabatta.jpg">
                                        </a>
                                        <p>데일리 치아바타</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/morning_barley_roll.jpg">
                                        </a>
                                        <p>아침엔 보리쌀롤</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/honeybutter_baguette.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>겉바속촉 꿀버터 바게트</p>   
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/gorgonzola_honeyball.jpg">
                                        </a>
                                        <p>고르곤졸라 허니볼</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/garlic_cheese_baguette.jpg">
                                        </a>
                                        <p>갈릭 치즈바게트</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/grains_many_bread.jpg">
                                        </a>
                                        <p>잡곡 듬뿍 곡물브레드</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/creamcheese_grain_bread.jpg">
                                        </a>
                                        <p>크림치즈 곡물브레드</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/ang_butter_laugen.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>앙버터 라우겐</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/new_cheese_baguette.jpg">
                                        </a>
                                        <p>NEW 치즈 바게트</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/condensed_milk_butter_laugen.jpg">
                                        </a>
                                        <p>연유 버터 라우겐</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/berryberry_healthybread(sm).jpg">
                                        </a>
                                        <p>베리베리 건강브레드(소)</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/berryberry_healthybread(lg).jpg">
                                        </a>
                                        <p>베리베리 건강브레드(대)</p>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/laugen_2ea.jpg">
                                        </a>
                                        <p>라우겐(2개입)</p>
                                    </li> -->
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/walnut_baguette.jpg">
                                        </a>
                                        <p>호두 연유 바게트</p>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/tangjong_bread.jpg">
                                        </a>
                                        <p>탕종법으로 만든 담백하고 쫄깃한 브레드</p>
                                    </li> -->
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/campagne_realchoco.jpg">
                                        </a>
                                        <p>깜파뉴 속의 리얼초코</p>
                                    </li>
                                </ul>
                            </dd>
                            <dt class="category_name"><span>간식빵</span></dt>
                            <dd><!--간식빵 리스트-->
                                <ul  class="products_in_category">
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/classic_strberry_mammoth.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>클래식 딸기잼 맘모스</p>  
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/strberry_minisand.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>퐁당핑이 좋아하는 미니샌드 스트로베리</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/milk_minisand.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>꾸래핑이 좋아하는 미니샌드 연유</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/soonjin.png">
                                        </a>
                                        <p>순진 크림치즈빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/goso.png">
                                        </a>
                                        <p>씨앗가득 고소함이 찰떡</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/bock_ang.png">
                                        </a>
                                        <p>복이가득 앙! 크림 단팥</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/cheese_onion.jpg">
                                        </a>
                                        <p>치즈 듬뿍 양파빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/original_coffeebun.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>오리지널 커피번</p> 
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/sweetpotato_soboro.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>진짜 고구마 소보로</p>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/sweetpotato_hodduck.jpg">
                                        </a>
                                        <p>쫀득 고구마 호떡</p>
                                    </li> -->
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/milkbutter.jpg">
                                        </a>
                                        <p>우유버터브레드</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/choco_chiffon.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>폭신폭신 한컵 초코쉬폰</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/milk_chiffon.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>폭신폭신 한컵 우유쉬폰</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/cheese_onion_gratin.png">
                                        </a>
                                        <p>치즈 만난 감자그라탕</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/wang_chaldduck.jpg">
                                        </a>
                                        <p>울퉁불퉁 왕 찰떡빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/sook_mammoth(lg).jpg">
                                        </a>
                                        <p>쑥이 듬뿍 맘모스(대)</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/creamcheese_walnut_snack.jpg">
                                        </a>
                                        <p>크림치즈 호두과자빵</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/salt_butter_roll.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>소금버터롤</p> 
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/sweet_toast.jpg">
                                        </a>
                                        <p>스위트토스트</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/garlic_cheese_toast.jpg">
                                        </a>
                                        <p>갈릭치즈토스트</p>
                                    </li>
                                </ul>
                            </dd>
                            <dt class="category_name"><span>파이/패스트리</span></dt>
                            <dd><!--파이/패스트리 리스트-->
                                <ul  class="products_in_category">
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/butter_garlic_pretzel.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>남해마늘로 만든 버터 갈릭 꽈배기</p>  
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/strberry_pie.png">
                                        </a>
                                        <p>겹겹이 딸기파이</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/egg_pudding.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>패스트리에 빠진 에그푸딩</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/chestnut_pie_manjoo.jpg">
                                        </a>
                                        <p>알밤 파이만주</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/sweet_bamblanc.jpg">
                                        </a>
                                        <p>스위트밤블랑</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/coconut_rsberry_pastries.jpg">
                                        </a>
                                        <p>코코넛 라즈베리 패스트리</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/long_sausage_pastries.jpg">
                                        </a>
                                        <p>회오리 롱 소시지 패스트리</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/real_sweetpotato_pie.jpg">
                                        </a>
                                        <p>진짜 고구마파이</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/ang_walnut_butter_sand.jpg">
                                        </a>
                                        <p>앙!호두 버터 샌드</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/layer_denish_milk.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>겹겹이 연유크림 데니쉬</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/layer_denish.jpg">
                                        </a>
                                        <p>겹겹이 데니쉬</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/monblanc.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>몽블랑의 정석</p>
                                    </li>
                                </ul>
                            </dd>
                            <dt class="category_name"><span>도넛/고로케</span></dt>
                            <dd><!--도넛/고로케 리스트-->
                                <ul  class="products_in_category">
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/garlic_chicken_goroke.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>남해마늘로 만든 마늘 치킨 고로케</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/mini_marabll.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>작다고 얕보지 마라볼</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/churo_pastries.jpg">
                                            <div class="new_stamp">
                                                <img src="../../img/menu/new_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>츄러스 꽈배기</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/egg_mayo_goroke.jpg">
                                        </a>
                                        <p>매콤 에그마요 고로케</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/montecristo.jpg">
                                            <div class="best_stamp">
                                                <img src="../../img/menu/best_menu_stamp.png">
                                            </div>
                                        </a>
                                        <p>바삭 몬테크리스토</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/milk_donut.jpg">
                                        </a>
                                        <p>퐁신퐁신 우유도넛</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/sausage_potato.png">
                                        </a>
                                        <p>후라잉 소시지 포테이토</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/cheese_potato_ball.png">
                                        </a>
                                        <p>깨알 치즈감자볼</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/frying_cheeseball.jpg">
                                        </a>
                                        <p>후라잉 치즈감자볼</p>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/soboro_angnut.jpg">
                                        </a>
                                        <p>소보로만난 앙넛</p>                       
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/toktok_corn_cheese_ball.jpg">
                                        </a>
                                        <p>톡톡 콘치즈볼(3개입)</p>                       
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="../../img/menu/bread/old_pastries_donut.jpg">
                                        </a>
                                        <p>옛날 꽈배기 도넛</p>                       
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </dd>
                    <a href=""> <!--dt 영양정보로 보기 페이지-->
                        <dt id="view_nutris" class="view_nutris "><span>영양정보로 보기</span></dt>
                    </a>
                    <dd id="view_nutris_dd" class="view_nutris_dd hidden"> <!--dd 영양정보로 보기 페이지-->
                        <dl>
                            <dt class="category_name"><span>식빵</dt></span>
                            <dd>
                                표 만들기 - 영양정보로 보는 식빵 리스트
                            </dd>
                            <dt class="category_name"><span>건강빵</dt></span>
                            <dd>
                                표 만들기 - 영양정보로 보는 건강빵 리스트
                            </dd>
                            <dt class="category_name"><span>간식빵</dt></span>
                            <dd>
                                표 만들기 - 영양정보로 보는 간식빵 리스트
                            </dd>
                            <dt class="category_name"><span>파이/패스트리</dt></span>
                            <dd>
                                표 만들기 - 영양정보로 보는 파이/패스트리 리스트
                            </dd>
                            <dt class="category_name"><span>도넛/고로케</dt></span>
                            <dd>
                                표 만들기 - 영양정보로 보는 도넛/고로케 리스트
                            </dd>
                        </dl>
                        
                    </dd>
                </dl>

            </div>
        </div>

        
        
    </main>

    <footer>

    </footer>
    <script type="text/javascript" src="../../js/jquery-3.7.0.min.js"></script>
    <script type="text/javascript" src="../../js/menu/menu.js"></script>
</body>
</html>