<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그대로 구워먹는 꿀 토스트 식빵</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/screens/menu/bread_detail.css">

</head>
<body>

    <div class="h2_wrap">
        <h2 class="page_title">
            <span>빵</span>
        </h2>
    </div>
    <div class="product_detail_wrap">
        <div class="product_detail">

            <div class="left_area">
                
                <div class="img_wrap">
                    <div class="image_container" id="image_container">
                        <img src="../../img/menu/bread/honey_loafbread.jpg" alt="그대로 구워먹는 꿀 토스트 식빵" class="product_image" id="product_image">
                    </div>
                    
                    <div class="best_stamp">
                        <img src="../../img/menu/best_menu_stamp.png">
                    </div>
                    <img src="../../img/menu/zoomlens_icon.png" alt="줌렌즈 아이콘" class="zoomlens_icon">
                    
                    <p>* 상기 이미지는 실제 제품과 다소 차이가 있을 수 있습니다.</p>
                </div>
            </div>
            <div class="right_area">
                <div class="menu_info">
                    <h3>그대로 구워먹는 꿀 토스트 식빵</h3>
                    <div class="menu_info_detail">
                        <p>꿀분말과 펄슈가를 넣어 건강한 단맛과 고소한 버터 풍미로<br>토스트 하였을 때 가장 맛있는 식빵</p>
                    </div>
                </div>

                <div class="table_nutrition">
                    <table summary="1회 제공량(108g) 당 열량, 당류, 단백질, 포화지방, 나트륨 정보를 제공합니다.">
                        <thead>
                            <tr>
                                <th scope="row" rowspan="4">영양성분</th>
                            
                                <td>총중량(g)  400</td>
                            
                            </tr>
                            
                            <tr>
                                <td>총제공중량(회) 4회</td>
                            </tr>
                            
                            <tr>
                                <td>1회 제공량(개) 1개</td>
                            </tr>
                            
                            <tr>
                                <td>중량(g)  100</td>
                            </tr>  
                        </thead>
                        <tbody>
                            
                            <tr>
                                <th scope="row" class="first">열량(kcal)</th>
                                <td class="first">315</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">당류(g)</th>
                                <td>11/11</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">단백질(g/%)</th>
                                <td>8/15</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">포화지방(g/%)</th>
                                <td>4.9/33</td>
                            </tr>
                            
                            <tr>
                                <th scope="row" class="last">나트륨(mg/%)</th>
                                <td>360/18</td>
                            </tr>
                            
                            <tr class="allergy">
                                <th scope="row" class="last">알레르기 정보</th>
                                <td class="last">밀, 우유, 대두, 계란 함유</td>
                            </tr>        
                        </tbody>
                    </table>
                </div>

                <div class="btn_area">
                    <button class="gotolist_btn" onclick="">목록</button>
                    <div class="share_icon_area">
                        <div class="share_icons">
                            <a href="https://www.facebook.com/login.php?skip_api_login=1&api_key=966242223397117&signed_next=1&next=https%3A%2F%2Fwww.facebook.com%2Fsharer.php%3Fu%3Dhttps%253A%252F%252Fwww.tlj.co.kr%253A7008%252Fproduct%252Fdetail.asp%253Fprod_num%253D4830%26t%3D%25EC%25B4%2588%25EC%25BD%2594%2B%25EA%25B3%25A8%25EB%2593%259C%25EB%25A0%2588%25EC%259D%25B4%25EC%2596%25B4_%25EC%258B%25A0%25EC%2584%25A0%25ED%2595%25A8%25EC%259D%25B4%2B%25EA%25B0%2580%25EB%2593%259D%25ED%2595%259C%2B%25EB%25B2%25A0%25EC%259D%25B4%25EC%25BB%25A4%25EB%25A6%25AC%2B%25EB%259A%259C%25EB%25A0%2588%25EC%25A5%25AC%25EB%25A5%25B4%250A&cancel_url=https%3A%2F%2Fwww.facebook.com%2Fdialog%2Fclose_window%2F%3Fapp_id%3D966242223397117%26connect%3D0%23_%3D_&display=popup&locale=ko_KR" onclick="window.open(this.href, '새 창 이름', 'width=600,height=400'); return false;" title="페이스북으로 공유하기 새 창 열림" target="_blank">
                                <img src="../../img/menu/icon_fb.png" alt="페이스북으로 공유하기">
                            </a>

                            <a href="https://twitter.com/?logout=1684400449394" onclick="window.open(this.href, '새 창 이름', 'width=600,height=400'); return false;" target="_blank" title="트위터로 공유하기 새 창 열림">
                                <img src="../../img/menu/icon_tw.png" alt="트위터로 공유하기">
                            </a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>    
    </div>

    <script type="text/javascript" src="../../js/menu/bread_detail.js"></script>
</body>
</html>