<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그대로 구워먹는 꿀 토스트 식빵</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>

    <div class="h2_wrap">
        <h2 class="page_title">
            <span>빵</span>
        </h2>
    </div>
    <div class="product_detail_wrap">
        <div class="product_detail">
            <div class="left_area">
                <div class="img_wrap">
                    <img src="../../img/menu/bread/honey_loafbread.jpg">
                    <p>* 상기 이미지는 실제 제품과 다소 차이가 있을 수 있습니다.</p>
                </div>
            </div>
            <div class="right_area">
                <div class="info">
                    <h3>그대로 구워먹는 꿀 토스트 식빵</h3>
                    <div class="info_detail">
                        <p>꿀분말과 펄슈가를 넣어 건강한 단맛과 고소한 버터 풍미로<br>토스트 하였을 때 가장 맛있는 식빵</p>
                    </div>
                </div>

                <div class="table_nutrition">
                    <table summary="1회 제공량(108g) 당 열량, 당류, 단백질, 포화지방, 나트륨 정보를 제공합니다.">
                        <thead>
                            <tr>
                                <th scope="row" rowspan="4">영양성분</th>
                            
                                <td>총중량(g)  400</td>
                            
                            </tr>
                            
                            <tr>
                                <td>총제공중량(회) 4회</td>
                            </tr>
                            
                            <tr>
                                <td>1회 제공량(개) 1개</td>
                            </tr>
                            
                            <tr>
                                <td>중량(g)  100</td>
                            </tr>  
                        </thead>
                        <tbody>
                            
                            <tr>
                                <th scope="row" class="first">열량(kcal)</th>
                                <td class="first">315</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">당류(g)</th>
                                <td>11/11</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">단백질(g/%)</th>
                                <td>8/15</td>
                            </tr>
                            
                            <tr>
                                <th scope="row">포화지방(g/%)</th>
                                <td>4.9/33</td>
                            </tr>
                            
                            <tr>
                                <th scope="row" class="last">나트륨(mg/%)</th>
                                <td>360/18</td>
                            </tr>
                            
                            <tr class="allergy">
                                <th scope="row" class="last">알레르기 정보</th>
                                <td class="last">밀, 우유, 대두, 계란 함유</td>
                            </tr>        
                        </tbody>
                    </table>
                </div>

                <div class="btn_area">
                    <a href="" class="gotolist_btn">목록</a>
                </div>
            </div>
        </div>    
    </div>


</body>
</html>