<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>케이크</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
    <header>

    </header>

    <main>
        <h2>케이크</h2>
        <h3>뚜레주르 추천제품</h3>
            <ul>
                <li>자몽 플라워</li>
                <li>알쏭달쏭 하츄핑</li>
                <li>스트로베리 쇼콜라 갸또</li>
                <li>주토피아_주디의 달콤초코</li>
                <li>생초코 초코 케이크</li>
            </ul>
        <h3>뚜레주르 제품 모바일로 구매/선물하기</p>
        <h3>케이크 전체보기</h3>
        <div>
            <dl>
                <dt>생크림케이크</dt>
                <dd><!--생크림케이크 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/grapefruit_flower.png"></a>
                            <p>자몽 플라워</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/str_chocolat_gateto.jpg"></a>
                            <p>스트로베리 쇼콜라 갸또</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/madam_earlgray.png"></a>
                            <p>마담 얼그레이 케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/choco_choco.jpg"></a>
                            <p>생초코 초코 케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/tiramisu_chiffon.jpg"></a>
                            <p>사르르 티라미수 생크림 쉬폰</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/soonjin_pondang.jpg"></a>
                            <p>순진우유 퐁당 바닐라</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/allstar.jpg"></a>
                            <p>뚜레쥬르 올스타케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/kakao_gold_layer.jpg"></a>
                            <p>카카오 골드 레이어</p>
                        </li>
                    </ul>
                </dd>
                <dt>무스케이크</dt>
                <dd><!--무스케이크 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/classic_of_cheese_3.png"></a>
                            <p>클래식 오브 치즈케이크 3호</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/str_tiramisu.jpg"></a>
                            <p>스트로베리 마스카포네 티라미수</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/mascarpone_tiramisu.jpg"></a>
                            <p>마스카포네 티라미수</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/crape.jpg"></a>
                            <p>크레이프 케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/black_cookie_cheese.jpg"></a>
                            <p>까망쿠키 치즈케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/goguma_1.jpg"></a>
                            <p>고구마 케이크 1호</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/soonmilk.jpg"></a>
                            <p>케이크 속에 순우유</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/goguma_mascarpone_tiramisu.jpg"></a>
                            <p>고구마 마스카포네 티라미수</p>
                        </li>
                    </ul>
                </dd>
                <dt>스페셜케이크</dt>
                <dd><!--스페셜케이크 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/sweetpink.png"></a>
                            <p>스위트 핑크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/mocha_2.png"></a>
                            <p>진한모카케이크 2호</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/caramel_bouquet.png"></a>
                            <p>카라멜 부케</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/berry_flower.png"></a>
                            <p>베리 플라워</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/choco_n_choco.jpg"></a>
                            <p>초코 앤 초코</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/blueberry_lavendar.jpg"></a>
                            <p>블루베리 라벤더 케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/classic_mocha.jpg"></a>
                            <p>클래식 모카케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/babypig_crunch.jpg"></a>
                            <p>아기돼지 딸기 크런치 하우스</p>
                        </li>
                    </ul>
                </dd>
                <dt>대형케이크</dt>
                <dd><!--대형케이크 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/6_3f_wedding.jpg"></a>
                            <p>6호 3단 웨딩케익</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/6_2f_white_leg.jpg"></a>
                            <p>6호 2단 화이트 케이크(다리포함)</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/6_2f_white.jpg"></a>
                            <p>6호 2단 화이트 케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/5_2f_chocolate.jpg"></a>
                            <p>5호 2단 초콜릿 케이크</p>
                        </li>
                    </ul>
                </dd>
                <dt>조각케이크</dt>
                <dd><!--조각케이크 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/p_str_tiramisu.jpg"></a>
                            <p>쁘띠 딸기 마스카포네 티라미수</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/p_mascarpone_tiramisu.jpg"></a>
                            <p>쁘띠 마스카포네 티라미수</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/p_chocolat_gateau.jpg"></a>
                            <p>쇼콜라 갸또(조각)</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/p_peach.jpg"></a>
                            <p>쁘띠 복숭아 케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/p_orange.jpg"></a>
                            <p>쁘띠 한라봉&오렌지 케이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/p_greentea.jpg"></a>
                            <p>클래식 녹차 케이크(조각)</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/p_goguma.jpg"></a>
                            <p>고구마 케이크(조각)</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/p_cheese.jpg"></a>
                            <p>클래식 치즈 케이크(조각)</p>
                        </li>
                    </ul>
                </dd>
                <dt>캐릭터케이크</dt>
                <dd><!--캐릭터케이크 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/hellocarbot.jpg"></a>
                            <p>헬로카봇 사파리 세이버</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/hachuping.jpg"></a>
                            <p>알쏭달쏭 하츄핑</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/judy.jpg"></a>
                            <p>주디의 달콤초코</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/hachuping_str.jpg"></a>
                            <p>하츄핑도 반한 딸기 생크림</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/snowwhite.png"></a>
                            <p>백설공주 달콤한 사과</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/pooh.jpg"></a>
                            <p>곰돌이 푸 메이플 허니</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/sophia.jpg"></a>
                            <p>소피아 초코&크런치</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/cake/tirano.jpg"></a>
                            <p>티라노의 습격</p>
                        </li>
                    </ul>
                </dd>
            </dl>
    </main>

    <footer>

    </footer>
    
</body>
</html>