<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>델리</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
    <header>

    </header>

    <main>
        <h2>델리</h2>
        <h3>뚜레주르 추천제품</h3>
        <ul>
            <li>포테이토&튜나 샐러드</li>
            <li>통밀 튜나 샌드위치</li>
            <li>에그튜나 샌드위치</li>
            <li>토마토 라구라자냐</li>
            <li>라구듬뿍 치즈브리또</li>
        </ul>
        <h3>뚜레주르 제품 모바일로 구매/선물하기</p>
        <h3>모든 델리</h3>
        <div class="bread">
            <dl>
                <dt>샌드위치</dt>
                <dd><!--샌드위치 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/tuna_sandwitch.jpg"></a>
                            <p>통밀 튜나 샌드위치</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/eggtuna_sandwitch.jpg"></a>
                            <p>에그튜나 샌드위치</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/cheese_brito.jpg"></a>
                            <p>라구듬뿍 치즈브리또</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/chiken_carrot_sandwitch.jpg"></a>
                            <p>그릴치킨&당근라페 샌드위치</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/egg_tender_sandwitch.jpg"></a>
                            <p>에그쏙! 텐더 샌드위치</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/vegerap.jpg"></a>
                            <p>담백아삭 베지랩</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/vegetender.jpg"></a>
                            <p>베지텐더 밸런스랩</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/crb_chiken_bagel.jpg"></a>
                            <p>크랜베리치킨 베이글 샌드위치</p>
                        </li>
                    </ul>
                </dd>
                <dt>샐러드</dt>
                <dd><!--샐러드 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/potato_tuna_salad.jpg"></a>
                            <p>포테이토&튜나 샐러드</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/chiken_orange_salad.jpg"></a>
                            <p>그릴치킨 오렌지 샐러드</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/chiken_chickpea_salad.jpg"></a>
                            <p>닭가슴살 병아리콩 샐러드</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/shrimp_brocc_salad.jpg"></a>
                            <p>매콤새우 브로콜리 샐러드</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/dchickpea_vegeball_salad.jpg"></a>
                            <p>병아리콩 베지볼 샐러드</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/chicken_potato_salad.png"></a>
                            <p>크리스피치킨&감자 샐러드</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/mushroom_salad.jpg"></a>
                            <p>머쉬룸 불고기 샐러드</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/cop_salad.jpg"></a>
                            <p>콥 샐러드</p>
                        </li>
                    </ul>
                </dd>
                <dt>간편식</dt>
                <dd><!--간편식 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/truffle_cr_pasta.png"></a>
                            <p>트러플 크림 파스타</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/rose_shrimp_doria.png"></a>
                            <p>로제 쉬림프 도리아</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/tomato_lasagne.jpg"></a>
                            <p>토마토 라구라자냐</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/mushroom_cr_soup.jpg"></a>
                            <p>머쉬룸 크림스프</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/gome_hotdog.jpg"></a>
                            <p>고메치즈 크리스피 핫도그</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/deli/gome_big_hotdog.jpg"></a>
                            <p>고메 빅크리스피 핫도그</p>
                        </li>
                    </ul>
                </dd>
            </dl>
    </main>

    <footer>

    </footer>
    
</body>
</html>