<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>음료</title>
    <link rel="stylesheet" href="../../styles/style.css">
</head>
<body>
    <header>

    </header>

    <main>
        <h2>음료</h2>
        <h3>뚜레주르 추천제품</h3>
        <ul>
            <li>딸기 밀크티</li>
            <li>딸기라떼</li>
            <li>아메리카노</li>
            <li>아이스 아메리카노</li>
            <li>카페라떼</li>
        </ul>
        <h3>뚜레주르 제품 모바일로 구매/선물하기</p>
        <h3>모든 음료</h3>
        <div>
            <dl>
                <dt>커피</dt>
                <dd><!--커피 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/coldbrew.jpg"></a>
                            <p>콜드브루</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/coldbrew_latte.jpg"></a>
                            <p>콜드브루 라떼</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/coldbrew_conmilk_latte.jpg"></a>
                            <p>콜드브루 연유라떼</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/conmilk_cr_latte.jpg"></a>
                            <p>연유크림라떼</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/ice_conmilk_cr_latte.jpg"></a>
                            <p>아이스 연유크림라떼</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/americano.jpg"></a>
                            <p>아메리카노</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/cappuccino.jpg"></a>
                            <p>카푸치노</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/caramel_macchiato.jpg"></a>
                            <p>카라멜 마끼아또</p>
                        </li>
                    </ul>
                </dd>
                <dt>블랜디드</dt>
                <dd><!--블랜디드 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/wm_smoothie.jpg"></a>
                            <p>수박 스무디</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/srr_str_shake.jpg"></a>
                            <p>사르르 딸기쉐이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/srr_milkshake.jpg"></a>
                            <p>사르르 우유쉐이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/srr_coffeeshake.jpg"></a>
                            <p>사르르 커피쉐이크</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/str_smoothie.jpg"></a>
                            <p>딸기 스무디</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/mango_smoothie.jpg"></a>
                            <p>망고 스무디</p>
                        </li>
                    </ul>
                </dd>
                <dt>티/라떼류</dt>
                <dd><!--과일주스/에이드 리스트-->
                    <ul>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/str_milktea.png"></a>
                            <p>딸기밀크티</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/str_latte.png"></a>
                            <p>딸기라떼</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/citron_lemontea.jpg"></a>
                            <p>유자레몬티</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/hotchoco.jpg"></a>
                            <p>핫초코</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/icechoco.jpg"></a>
                            <p>아이스초코</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/peach_icetea.jpg"></a>
                            <p>복숭아아이스티</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/loyal_milktea_latte.jpg"></a>
                            <p>로얄밀크티라떼</p>
                        </li>
                        <li>
                            <a href="#"><img src="../../img/menu/drink/ice_greentea_latte.jpg"></a>
                            <p>아이스그린티라떼</p>
                        </li>
                    </ul>
                </dd>
                
            </dl>
    </main>

    <footer>

    </footer>
    
</body>
</html>