<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신제품</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/screens/menu/new_products.css">
    
    
    
</head>
<body>
    <header>

    </header>

    <main>
        <div class="h2_wrap">
            <h2 class="page_title">
                <span>신제품</span>
            </h2>
        </div>

        <div class="top_contents_wrap">
            <div class="new_banner"> <!--신제품 배너-->
                <img src="../../img/menu/newP/23_may.jpg" alt="5월, 꽃길을 선물할게요">
            </div>
            <div class="mobile_gift_delivery"> <!--모바일/선물하기 배너-->
                <a href="">
                    <img src="../../img/menu/gift_delivery_ver.png" alt="뚜레주르 제품 모바일로 구매/선물하기">
                    <div>
                        <img src="../../img/menu/mobile_gift_delivery_2.jpg" alt="쇼핑몰&케이크배달 뚜레쥬르 제품을 온라인에서 구매&배송신청하세요">
                    </div>
                </a>
            </div>    
        </div>

        <div class="new_products_wrap">
            <dl>
                <dt class="new_products_year">2023년 신제품</dt>
                <dd> <!--2023년 신제품 배너들 -->
                    <ul class="new_banners">
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/23_may_sm.jpg" alt="5월, 꽃길을 선물할게요">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/23_partytime.jpg" alt="5월, 꽃길을 선물할게요">
                            </span>   
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/23_valentine.jpg" alt="달달해서 기분이 초코!">
                            </span>
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/23_obock.jpg" alt="오복 한가득">
                            </span>
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/23_zoody.jpg" alt="Hello 2023 모든걸 다 이루어 주디">
                            </span>
                        </li>
                    </ul>
                </dd>
                
                <dt class="new_products_year">2022년 신제품</dt>
                <dd> <!--2022년 신제품 배너들 -->
                    <ul class="new_banners">
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_christmas.jpg" alt="크리스마스 원더랜드">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_oh_lolly.jpg" alt="합격 퍼레이드">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_chuseock.jpg" alt="맛과 멋이 깃든 추석을 선물하세요">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_autumn.jpg" alt="가을미식회">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_knock_knock.jpg" alt="d>맛있고 건강한 라이프로 녹녹!">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_yumi_cells.jpg" alt="출출 세포 원픽! 뚜쥬 여름 신제품">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_plant_love.jpg" alt="사랑과 감사를 꽃피워요">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_welcome_hell.jpg" alt="웰컴뚜헬">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_spring.jpg" alt="맛있는 봄의 시작">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/22_newyear.jpg" alt="새해 첫 신제품">
                            </span>  
                        </li>
                    </ul>
                </dd>
                
                <dt class="new_products_year">2021년 신제품</dt>
                <dd> <!--2021년 신제품 배너들 -->
                    <ul class="new_banners">
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_christmas.jpg" alt="2021 크리스마스">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_sooneung.jpg" alt="2021 수능">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_soon.jpg" alt="순, 식빵">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_chuseock.jpg" alt="2021 추석">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_kare.jpg" alt="요술카레빵!">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_milkis.jpg" alt="뚜레쥬르도 사랑해요 밀키스">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_may.jpg" alt="5월의 어느 멋진날">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_chicken.jpg" alt="교촌을 품은 뚜쥬">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_whiteday.jpg" alt="달콤하고 진한 화이트데이">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_nyd.jpg" alt="뚜레쥬르 설선물">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/21_soonjin.jpg" alt="순진우유">
                            </span>  
                        </li>
                    </ul>
                </dd>
                
                <dt class="new_products_year">2020년 신제품</dt>
                <dd> <!--2020년 신제품 배너들 -->
                    <ul class="new_banners">
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_christmas.jpg" alt="행복이 꽃피는 크리스마스">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_sooneung.jpg" alt="뚜레쥬르 수능">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_halloween.jpg" alt="뚜레쥬르 할로윈">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_autumn.jpg" alt="가을의 맛을 듬뿍 즐기세요">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_homebakery.jpg" alt="홈베이커리">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_merona.jpg" alt="올 때 메로나">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_summer.jpg" alt="여름이 좋다 빙수&쉐이크">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_may.jpg" alt="감사- 영원한 꽃이 되어">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_brownie.jpg" alt="브라우니 덕후들의 원픽!">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_nyd.jpg" alt="2020 뚜레쥬르 설">
                            </span>  
                        </li>
                    </ul>
                </dd>    
                   
                <dt class="new_products_year">2019년 신제품</dt>
                <dd> <!--2019년 신제품 배너들 -->
                    <ul class="new_banners">
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_frozen.jpg" alt="겨울왕국 2 케이크">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_christmas.jpg" alt="2019 크리스마스">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_sooneung.jpg" alt="2019 수능">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_autumn.jpg" alt="가을, 맛나서 반가워">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_bingsoo.jpg" alt="빙수가 있어 여름이 좋다">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/20_merona.jpg" alt="가정의 달">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_cake.jpg" alt="생크림 케이크">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_may.jpg" alt="꽃보다 아름다운 그대에게">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_love.jpg" alt="Love Love Love">
                            </span>  
                        </li>
                        <li>
                            <span class="img_wrap">
                                <img src="../../img/menu/newP/19_nyd.jpg" alt="2019 뚜레쥬르 설">
                            </span>  
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>

        
        
    </main>

    <footer>

    </footer>
    
    
</body>
</html>