<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신제품</title>
    <link rel="stylesheet" href="../../styles/style.css">
    <link rel="stylesheet" href="../../styles/screens/menu/new_menu.css">
    
    
    
</head>
<body>
    <header>

    </header>

    <main>
        <div class="h2_wrap">
            <h2 class="page_title">
                <span>신제품</span>
            </h2>
        </div>

        <div class="wrap">

            <div class="nd_wrap">
                <div class="new_banner_slide"> <!--신제품 배너 슬라이드-->
                    <img src="../../img/menu/new_banner_may.jpg" alt="5월, 꽃길을 선물할게요">
                </div>
                <div class="mobile_gift_delivery"> <!--모바일/선물하기 배너-->
                    <a href="">
                        <img src="../../img/menu/gift_delivery_ver.png" alt="뚜레주르 제품 모바일로 구매/선물하기">
                        <div>
                            <img src="../../img/menu/mobile_gift_delivery_2.jpg" alt="쇼핑몰&케이크배달 뚜레쥬르 제품을 온라인에서 구매&배송신청하세요">
                        </div>
                    </a>
                </div>
            </div> 
        </div>

        
        
    </main>

    <footer>

    </footer>
    
    
</body>
</html>