:root {
  --main-color: #004e42;
  --main-sub-color: #ff6900;
  --font-color: #fff;
}

body {
  color: var(--main-color);
}

header {
  background-color: var(--main-color);
}

footer {
  background-color: var(--main-color);
}
