.footer_wrap {
  background: #2a2a2a;
  color: #fff;
  width: 100%;
  height: 400px;
  padding-top: 30px;
  margin: auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
}
.company {
  width: 800px;
  height: 50px;
  margin: auto;
}
.policy {
  width: 900px;
  height: 50px;
  margin: auto;
}
.company a:hover,
.policy a:hover {
  transition: 0.3s ease-in-out;
  color: #e16f14;
}
.company ul,
.policy ul {
  display: flex;
  justify-content: space-between;
}
.address {
  width: 800px;
  height: 90px;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 40px;
}
.address p,
.address address {
  text-align: center;
}
.address p span {
  justify-content: space-between;
  margin-right: 10px;
}
.copyright {
  margin-top: 10px;
}
.ftc_confirm {
  position: relative;
}
<<<<<<< HEAD
.ftc_confirm a img{
    position: absolute;
=======
.ftc_confirm a img {
  position: absolute;
>>>>>>> 947821ecd16e96958219bbba7c0c8d70380e6116
}
.hosting {
  margin-left: 10px;
}
