.footer_wrap {
  position: relative;

  z-index: 1;
  background: #2a2a2a;
  width: 100%;
  height: 340px;
  padding-top: 40px;
  box-sizing: border-box;
  margin: auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 30px;
}
.company {
  width: 800px;
  height: 50px;
  margin: auto;
  color: #fff;
}

.policy {
  width: 900px;
  height: 50px;
  margin: auto;
  margin-bottom: 20px;
  color: #fff;
}
.policy .private{
  color: chocolate;
  font-weight: 600;
}
.company a:hover,
.policy a:hover {
  text-decoration: underline;
}
.company ul,
.policy ul {
  display: flex;
  justify-content: space-between;
}
.company_info {
  width: 800px;
  height: 90px;
  line-height: 1.5em;
  margin: auto;
  margin-bottom: 40px;
  color: #b0b0b0;
  font-size: 12px;
}
.company_info p,
.company_info address{
  text-align: center;
  margin-bottom: 1px;
}
.company_info p span {
  justify-content: space-between;
  margin-right: 10px;
}

.ftc_confirm{
  position: relative;
  
}
.ftc_confirm a {
  position: absolute;
  left: -8px;
}
.hosting{
  padding-left: 80px;
}

.company_info .business_info{
  margin-bottom: 15px; 
}

.company_info .copyright {
  font-size: 11px;
}
.footer_logo img{
  width: 100px;
  position: absolute;
  left: 1200px;
  top: 180px;

}