<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Tous les Jous | 로그인</title>
  </head>
  <body>
    <div class="skip_menu">
      <ul>
        <li><a href="#해당페이지 바디로 이동">본문내용으로 바로가기</a></li>
        <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
      </ul>
    </div>
    <main>
      <div class="wrap">
        <div class="login_wrap">
          <div class="login">
            <h2>로그인</h2>
            <div class="login__form">
              <form action="/index.html">
                <div class="login__form-toptext">
                  <h3>
                    <span>WELCOME !</span> 뚜레쥬르에 오신 것을 환영합니다.
                  </h3>
                  <p>보다 많은 서비스를 위해 로그인하시기 바랍니다.</p>
                  <p>뚜레쥬르의 더 많은 혜택과 이벤트를 누리세요!</p>
                </div>
                <fieldset>
                  <legend class="hidden">로그인</legend>
                  <div class="user__id-cont">
                    <label class="hidden" for="user__id">아이디</label>
                    <input
                      id="user__id"
                      type="text"
                      placeholder="아이디를 입력해주세요"
                      required
                    />
                  </div>

                  <div class="user__pw-cont">
                    <label class="hidden" for="user__pw">비밀번호</label>
                    <input
                      id="user__pw"
                      type="password"
                      placeholder="비밀번호를 입력해주세요"
                      required
                    />
                  </div>
                  <div class="save__id-cont">
                    <input id="save__id" type="checkbox" value="아이디 저장" />
                    <label for="save__id">아이디 저장</label>
                  </div>

                  <button id="login__btn" type="submit">로그인</button>
                </fieldset>
              </form>
              <div class="login__notice-text">
                <p>
                  * 타 사이트와 비밀번호를 동일하게 사용할 경우 도용의 위험이
                  있으므로, 정기적인 비밀번호 변경을 해주시길 바랍니다.
                </p>
                <p>
                  * 뚜레쥬르 공식 홈페이지는 Internet Explorer 9.0이상, Chrome,
                  Firefox, Safari 브라우저에 최적화 되어 있습니다.
                </p>
              </div>
              <div class="user__links">
                <a
                  href="https://www.cjone.com/cjmweb/join.do?coopco_cd=7020&brnd_cd=2010&mcht_no=2010&coop_return_url="
                  >회원가입</a
                >
                <span>|</span>
                <a href="#none">아이디 찾기</a>
                <span>|</span>
                <a href="#none">비밀번호 찾기</a>
              </div>
            </div>
            <img
              src="../../img/mainpage/login/miti-login-unsplash.jpeg"
              alt="배경이미지"
            />
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer_wrap">
        <div class="company">
          <ul>
            <li>
              <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                >회사소개</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/recruit/recruit_index.asp"
                >기사채용안내</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/franchise/index.asp"
                >창업안내</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/etc/sitemap.asp">사이트맵</a>
            </li>
          </ul>
        </div>

        <div class="policy">
          <ul>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/userpolicy.asp"
                >이용약관</a
              >
            </li>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/location.asp"
                >위치기반서비스 이용약관</a
              >
            </li>
            <li class="private">
              <a href="https://www.cjfoodville.co.kr/footer/privacy.asp"
                >개인정보처리방침</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/etc/email.asp"
                >이메일무단수집거부</a
              >
            </li>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/ethic_center.asp"
                >윤리신고센터</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/etc/legal.asp">법적고지</a>
            </li>
          </ul>
        </div>

        <div class="company_info">
          <p>상호명 : CJ푸드빌(주)</p>

          <address>
            <p>
              주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
              을지로타워 3, 9-11층 CJ푸드빌㈜s
            </p>
          </address>

          <p>
            <span>고객센터 : 1577-0700</span>
            <span>통신판매업종신고증 제 2011-서울중구-0771호</span>
            <sapn class="ftc_confirm">
              <a
                href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=3128142519"
                target="_blank"
                title="새창열림"
              >
                <img
                  src="../../img/menu/footer_info_information.png"
                  alt="사업자정보확인"
                />
              </a>
            </sapn>
            <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
          </p>

          <p class="business_info">
            <span>사업자등록번호 : 312-81-42519</span>
            <span>대표이사 : 김찬호</span>
            <span>개인정보보호책임자 : 오창호</span>
            <span class="email">
              <a href="mailto:help_master@cj.net"
                >대표 이메일 : help_master@cj.net</a
              >
            </span>
          </p>

          <p class="copyright">
            COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
          </p>
        </div>

        <div class="footer_logo">
          <img src="../../img/logos/logo_grey.png" />
        </div>
      </div>
    </footer>
    <script src="../../js/app.js"></script>
    <script src="../../js/mainpage/login.js"></script>
  </body>
</html>
