<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <div class="skip_menu">
        <ul>
          <li><a href="#해당페이지 바디로 이동">본문냉요으로 바로가기</a></li>
          <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
        </ul>
      </div>
      <main>
        <h2>이벤트 당첨자</h2>
        <div class="event_winner">
          <div class="event_search">
            <form action="">
              <legend>이벤트 검색</legend>
              <select>
                <option value="제목">제목</option>
                <option value="내용">내용</option>
              </select>
              <label for="">검색어를 입력해주세요</label>
              <input
                id="search_event"
                type="text"
                placeholder="검색어를 입력해주세요"
              />
              <button type="submit">검색</button>
            </form>
          </div>
          <h3>
            <p>총 <span>15개</span>의 글이 등록되었습니다.</p>
          </h3>

          <div id="event_winner" class="event_list">
            <ul>
              <li class="winner_list">
                <p>뚜레쥬르 크리스마스 이벤트 당첨자 발표</p>
                <span>2018.01.17</span>

                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2018-1-17_event.jpg"
                  alt="뚜레쥬르 크리스마스 이벤트 당첨자 발표"
                />
              </li>

              <li class="winner_list">
                <p>뚜레쥬르 구정 이벤트1 [반갑개 어디있개] 당첨자발표</p>
                <span>2018.02.09</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2018-2-9_event.jpg"
                  alt="뚜레쥬르 구정 이벤트1 [반갑개 어디있개] 당첨자발표"
                />
              </li>

              <li class="winner_list">
                <p>뚜레쥬르 추석선물 검색이벤트 당첨자발표</p>
                <span>2018.10.05</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2018-10-5_event.jpg"
                  alt="뚜레쥬르 추석선물 검색이벤트 당첨자발표"
                />
              </li>

              <li class="winner_list">
                <p>뚜레쥬르 CF공유 이벤트 당첨자 발표</p>
                <span>2018.12.12</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2018-12-12_event.jpg"
                  alt="뚜레쥬르 CF공유 이벤트 당첨자 발표"
                />
              </li>

              <li class="winner_list">
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2018-12-12_event(2).jpg"
                  alt="뚜말잇기 이벤트 당첨자 발표"
                />
                <p>뚜말잇기 이벤트 당첨자 발표</p>
                <span>2018.12.12</span>
              </li>

              <li class="winner_list">
                <p>윤아가 전해주는 사랑의 메시지 이벤트</p>
                <span>2019.03.21</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2019-3-21_event(2).jpg"
                  alt="윤아가 전해주는 사랑의 메시지 이벤트"
                />
              </li>

              <li class="winner_list">
                <p>
                  영상 공유 이벤트-윤아가 뚜레쥬르 생크림 케이크에 정착한
                  이유는?
                </p>
                <span>2019.05.08</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2019-5-8_event.jpg"
                  alt="영상 공유 이벤트-윤아가 뚜레쥬르 생크림 케이크에 정착한
                  이유는?"
                />
              </li>

              <li class="winner_list">
                <p>뚜스타 이벤트 당첨자 발표</p>
                <span>2019.05.23</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2019-5-23_event(2).jpg"
                  alt="뚜스타 이벤트 당첨자 발표"
                />
              </li>

              <li class="winner_list">
                <p>최애케이크 투표이벤트 당첨자발표</p>
                <span>2019.08.14</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2019-8-14_event.jpg"
                  alt="최애케이크 투표이벤트 당첨자발표"
                />
              </li>

              <li class="winner_list">
                <p>맛좋은 녀석들 당신의 선택은? 투표이벤트 당첨자발표</p>
                <span>2019.11.13</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2019-11-13_event.jpg"
                  alt="맛좋은 녀석들 당신의 선택은? 투표이벤트 당첨자발표"
                />
              </li>

              <li class="winner_list">
                <p>크리스마스 이벤트1-검색이벤트 당첨자발표</p>
                <span>2019.12.30</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2019-12-30_event.jpg"
                  alt="크리스마스 이벤트1-검색이벤트 당첨자발표"
                />
              </li>

              <li class="winner_list">
                <p>크리스마스 이벤트2-산타를 찾아라이벤트 당첨자발표</p>
                <span>2019.12.30</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2019-12-30_event(2).jpg"
                  alt="크리스마스 이벤트2-산타를 찾아라이벤트 당첨자발표"
                />
              </li>

              <li class="winner_list">
                <p>사랑의 메시지 이벤트 당첨자발표</p>
                <span>2020.03.26</span>
                <img
                  class="toggle_slide active"
                  src="../../img/eventpage/event_winner/2020-03-26_evnet.jpg"
                  alt="사랑의 메시지 이벤트 당첨자발표"
                />
              </li>
            </ul>
          </div>
          <div class="page_number">
            <a id="prev_btn" href="#none">&lt;</a>
            <a id="current_btn" href="#none">1</a>
            <a id="next_btn" href="#none">&gt;</a>
          </div>
        </div>
        <div class="location">
          <ul>
            <li>
              <a href=""><span>HOME</span></a>
            </li>

            <li>&lt;</li>

            <li>
              <a href=""><span>이벤트&멤버십</span></a>
            </li>

            <li>&lt;</li>

            <li>
              <a href=""><span>이벤트 당첨자</span></a>
            </li>
          </ul>
        </div>
      </main>
    </div>
    <script src="../../js/eventpage/eventPage.js"></script>
  </body>
</html>
