<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="event_wrap">
        <h2>진행중인 이벤트</h2>

        <div class="event">
          <h3>진행 이벤트</h3>
          <ul>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_1.jpg"
                  alt=""
                />
                <p>순금 총 35돈! 황금 열쇠의 주인공은?</p>
                <span>2023-04-26 ~ 2023-05-24</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_2jpg"
                  alt=""
                />
                <p>5월, 꽃길을 선물할게요</p>
                <span>2023-04-24 ~ 2023-04-30</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_3.jpg"
                  alt="애플페이"
                />
                <p>애플페이</p>
                <span>2023-04-20 ~ 2023-07-31</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_4.jpg"
                  alt="네이버페이 포인트 머니로 결제 시, 6천원 적립"
                />
                <p>네이버페이 포인트 머니로 결제 시, 6천원 적립</p>
                <span>2023-04-17 ~ 2023-05-07</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_5.jpg"
                  alt="CJ 옴니서비스 약관 동의 이벤트"
                />
                <p>CJ 옴니서비스 약관 동의 이벤트</p>
                <span>2023-04-13 ~ 2023-04-30</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_6.jpg"
                  alt="KT 멤버십 VVIP/VIP 혜택"
                />
                <p>KT 멤버십 VVIP/VIP 혜택</p>
                <span>2023-04-03 ~ 2023-12-31</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_7.jpg"
                  alt="4월 뚜레쥬르 배달앱 할인 혜택"
                />
                <p>4월 뚜레쥬르 배달앱 할인 혜택</p>
                <span>2023-04-03 ~ 2023-04-30</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_8.jpg"
                  alt="알쏭달쏭 캐치! 티니핑과 매일매일 파티타임"
                />
                <p>알쏭달쏭 캐치! 티니핑과 매일매일 파티타임</p>
                <span>2023-03-28 ~ 2023-04-30</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_9.jpg"
                  alt="현대카드 매일 50% M포인트 사용 가능"
                />
                <p>현대카드 매일 50% M포인트 사용 가능</p>
                <span>2022-12-30 ~ 2023-12-31</span>
              </a>
            </li>
          </ul>
          <div class="location">
            <p>
              <a href=""><span>HOME</span></a> &lt;
              <a href=""><span>이벤트&멤버십</span></a> &lt;
              <a href=""><span>진행중인 이벤트</span></a>
            </p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
