<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <div class="skip_menu">
        <ul>
          <li><a href="#해당페이지 바디로 이동">본문냉요으로 바로가기</a></li>
          <li><a href="#gnb로 이동">주메뉴 바로가기</a></li>
        </ul>
      </div>
      <main>
        <h2>진행중인 이벤트</h2>

        <div class="event">
          <h3>진행 이벤트</h3>
          <ul>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_1.jpg"
                  alt=""
                />
                <p>순금 총 35돈! 황금 열쇠의 주인공은?</p>
                <span>2023-04-26 ~ 2023-05-24</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_2jpg"
                  alt=""
                />
                <p>5월, 꽃길을 선물할게요</p>
                <span>2023-04-24 ~ 2023-04-30</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_3.jpg"
                  alt="애플페이"
                />
                <p>애플페이</p>
                <span>2023-04-20 ~ 2023-07-31</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_4.jpg"
                  alt="네이버페이 포인트 머니로 결제 시, 6천원 적립"
                />
                <p>네이버페이 포인트 머니로 결제 시, 6천원 적립</p>
                <span>2023-04-17 ~ 2023-05-07</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_5.jpg"
                  alt="CJ 옴니서비스 약관 동의 이벤트"
                />
                <p>CJ 옴니서비스 약관 동의 이벤트</p>
                <span>2023-04-13 ~ 2023-04-30</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_6.jpg"
                  alt="KT 멤버십 VVIP/VIP 혜택"
                />
                <p>KT 멤버십 VVIP/VIP 혜택</p>
                <span>2023-04-03 ~ 2023-12-31</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_7.jpg"
                  alt="4월 뚜레쥬르 배달앱 할인 혜택"
                />
                <p>4월 뚜레쥬르 배달앱 할인 혜택</p>
                <span>2023-04-03 ~ 2023-04-30</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_8.jpg"
                  alt="알쏭달쏭 캐치! 티니핑과 매일매일 파티타임"
                />
                <p>알쏭달쏭 캐치! 티니핑과 매일매일 파티타임</p>
                <span>2023-03-28 ~ 2023-04-30</span>
              </a>
            </li>
            <li class="event_container">
              <a href="#none">
                <img
                  src="../../img/eventpage/event_thumbnail_img/event_thumbnail_9.jpg"
                  alt="현대카드 매일 50% M포인트 사용 가능"
                />
                <p>현대카드 매일 50% M포인트 사용 가능</p>
                <span>2022-12-30 ~ 2023-12-31</span>
              </a>
            </li>
          </ul>
          <div class="page__location">
            <ul>
              <li>
                <a href=""><span>HOME</span></a>
              </li>
              <p>&gt;</p>
              <li>
                <a href=""><span>이벤트&멤버십</span></a>
              </li>
              <p>&gt;</p>
              <li>
                <a href=""><span>제휴혜택</span></a>
              </li>
            </ul>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer_wrap">
          <div class="company">
            <ul>
              <li>
                <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                  >회사소개</a
                >
              </li>
              <li>
                <a href="https://www.tlj.co.kr:7008/recruit/recruit_index.asp"
                  >기사채용안내</a
                >
              </li>
              <li>
                <a href="https://www.tlj.co.kr:7008/franchise/index.asp"
                  >창업안내</a
                >
              </li>
              <li>
                <a href="https://www.tlj.co.kr:7008/etc/sitemap.asp"
                  >사이트맵</a
                >
              </li>
            </ul>
          </div>
          <div class="policy">
            <ul>
              <li>
                <a href="https://www.cjfoodville.co.kr/footer/userpolicy.asp"
                  >이용약관</a
                >
              </li>
              <li>
                <a href="https://www.cjfoodville.co.kr/footer/location.asp"
                  >위치기반서비스 이용약관</a
                >
              </li>
              <li class="private">
                <a href="https://www.cjfoodville.co.kr/footer/privacy.asp"
                  >개인정보처리방침</a
                >
              </li>
              <li>
                <a href="https://www.tlj.co.kr:7008/etc/email.asp"
                  >이메일무단수집거부</a
                >
              </li>
              <li>
                <a href="https://www.cjfoodville.co.kr/footer/ethic_center.asp"
                  >윤리신고센터</a
                >
              </li>
              <li>
                <a href="https://www.tlj.co.kr:7008/etc/legal.asp">법적고지</a>
              </li>
            </ul>
          </div>
          <div class="address">
            <p>
              <span>상호명 : CJ푸드빌(주)</span>
              <span>
                <address>
                  주소 : (우)04555 서울시 중구 마른내로34(초동
                  106-9번지)KT&amp;G 을지로타워 3, 9-11층 CJ푸드빌㈜s
                </address>
              </span>
            </p>

            <p>
              <span>고객센터 : 1577-0700</span>
              <span class="ftc_confirm"
                >통신판매업종신고증 제 2011-서울중구-0771호</span
              >
              <a
                href="https://www.ftc.go.kr/waitingroom/main.html"
                target="_blank"
                title="새창열림"
              >
                <img
                  src="../../img/menu/footer_info_information.png"
                  alt="사업자정보확인"
                />
              </a>
              <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
            </p>

            <p>
              <span>사업자등록번호 : 312-81-42519</span>
              <span>대표이사 : 김찬호</span>
              <span>개인정보보호책임자 : 오창호</span>
              <span class="email"
                ><a href="mailto:help_master@cj.net"
                  >대표 이메일 : help_master@cj.net</a
                ></span
              >
            </p>

            <p class="copyright">
              COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
