.aff_benefits {
  position: relative;

  /* margin-top: 100px; */
}

/* aff benefits info */
.aff_benefits_info {
  position: relative;
  text-align: center;
  width: 80%;
  height: 300px;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 50px;
}
.aff_benefits_info img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  filter: brightness(60%);
}

.aff_benefits_info p {
  position: absolute;
  color: white;
  margin-bottom: 10px;
  vertical-align: middle;
}
.aff_benefits_info-text p:first-child {
  left: 10%;
  top: 40%;
}
.aff_benefits_info-text p:nth-child(2) {
  left: 10%;
  top: 50%;
}
.aff_benefits_info-text p:last-child {
  left: 10%;
  top: 60%;
}
/* aff benefits nav */
.aff_benefits_nav {
  margin-bottom: 30px;
}
.aff_benefits_nav ul {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  background-color: var(--table-color);
  border-radius: 20px;
}
.aff_benefits_nav li {
  margin: 0 auto;
  cursor: pointer;
  font-size: 15px;
  white-space: nowrap;
}
.aff_benefits_nav li:hover {
  transform: scale(105%);
  transition: 0.8s ease-in-out;
  padding: 5px 10px;
  color: white;
  border-radius: 25px;
  background-color: var(--hover-green);
}

/* telecom - benefit & card - benefit & pb - benefit & giftcard - benefit*/

.telecom_benefit,
.card_benefit,
.pb_benefit,
.giftcard_benefit {
  width: 80%;
  padding: 50px 60px 100px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 15px;
}

.telecom_benefit_text h4,
.card_benefit_text h4,
.pb_benefit_text h4,
.giftcard_benefit_text h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.telecom_benefit_text ul,
.card_benefit_text ul,
.pb_benefit_text ul,
.giftcard_benefit_text ul {
  margin-bottom: 30px;
  /* padding: 50px 40px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px; */
}
.telecom_benefit_text li,
.card_benefit_text li,
.pb_benefit_text li,
.giftcard_benefit_text li {
  line-height: 30px;
}

/* benefit grid */
.telecom_benefit_list ul,
.card_benefit_list ul,
.pb_benefit_list ul,
.giftcard_benefit_list ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.telecom_benefit_list > ul > li,
.card_benefit_list > ul > li,
.pb_benefit_list > ul > li,
.giftcard_benefit_list > ul > li {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 30px 50px;
}
.giftcard_benefit_list > ul > li {
  text-align: center;
}
.telecom_benefit_list > ul > li:hover,
.card_benefit_list > ul > li:hover,
.pb_benefit_list > ul > li:hover,
.giftcard_benefit_list > ul > li:hover {
  transform: scale(105%);
  transition: 0.5s ease-in-out;
}
.giftcard_benefit_list > ul > li img {
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.telecom_benefit_list > ul > li img:nth-child(2),
.card_benefit_list > ul > li img:nth-child(2),
.card_benefit_list > ul > li img:nth-child(3),
.pb_benefit_list > ul > li img:nth-child(2) {
  position: absolute;
  right: 40px;
}
.card_benefit_list > ul > li img:nth-child(3) {
  top: 50px;
}
.telecom_benefit_list > ul > li h4,
.card_benefit_list > ul > li h4,
.pb_benefit_list > ul > li h4 {
  font-size: 25px;
  font-weight: 500;
  margin: 20px 0;
}
.telecom_benefit_list > ul > li p,
.card_benefit_list > ul > li p,
.pb_benefit_list > ul > li p,
.giftcard_benefit_list > ul > li p {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}
.giftcard_benefit_list > ul > li p {
  margin-top: 20px;
}
.telecom_benefit_list > ul > li > ul,
.card_benefit_list > ul > li > ul,
.pb_benefit_list > ul > li > ul {
  position: relative;
  margin-top: 20px;
  display: block;
  text-align: right;
  line-height: 20px;
}
.card_benefit_list > ul > li > ul > li,
.pb_benefit_list > ul > li > ul > li {
  text-align: left;
  font-size: 15px;
}

.telecom_benefit_list > ul > li > ul > li::before,
.card_benefit_list > ul > li > ul > li::before,
.pb_benefit_list > ul > li > ul > li::before {
  content: "- ";
}

.card_benefit_list > ul > li > ul > a {
  display: inline-flex;
  padding: 10px 20px;
  color: white;
  margin-top: 20px;
  border-radius: 25px;
  background-color: var(--main-color);
}
/* aff benefits location*/
.page__location ul {
  position: absolute;
  top: 250px;
  right: 50px;
  display: flex;
  color: white;
}
.page__location li,
.page__location p {
  margin-left: 15px;
}
.page__location li:hover {
  text-decoration: underline;
}
