.winner_list {
  cursor: pointer;
  width: 300px;
}

.toggle_slide {
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}
.slideup_active {
  transition: height 0.5s ease-in-out;
  height: 0;
}
