
/* 페이지 제목 */
.h2_wrap{
    width: 1100px;
    margin: auto;
    height: 100px;
    padding-top: 32px;
    box-sizing: border-box;
    position: relative;
}
.page_title{
    font-size: 30px;
    font-weight: 800;
    letter-spacing: -0.1em;
    color: #0D4633;  
    padding-left: 15px
    
}
.page_title::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 34px;
    width: 5px;
    height: 28px;
    background-color: #0D4633;
}

/* 상단 슬라이드 + 모바일 선물하기 */

.top_contents_wrap{
    width: 1100px;
    margin: auto;
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 50px; 
}

/* 메인 신제품 배너 */

.main_new_banner_wrap{
    position: relative;
}
.main_new_banner_wrap .bn_01{
    position: absolute;
    top: 0;
    left: 385px;
    opacity: 0;
}
.main_new_banner_wrap .bn_02{
    position: absolute;
    top: 160px;
    left: 200px;
    opacity: 0;
}
.main_new_banner_wrap .bn_03{
    position: absolute;
    top: 54px;
    right: 212px;
    opacity: 0;
}
.main_new_banner_wrap .bn_04{
    position: absolute;
    top: 93px;
    left: 135px;
    opacity: 0;
}
.main_new_banner_wrap .bn_05{
    position: absolute;
    top: 35px;
    left: 170px;
    opacity: 0;
}

.view_more{
    position: absolute;
    right: 80px;
    top: 200px;
    width: 100px;
    height: 35px;
    font-size: 13px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 1px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.2s ease-in-out;
}
.view_more:hover{
    opacity: 1;
    background: #fff;
    color: #0D4633;
    text-decoration: underline;
    transition: 0.2s ease-in-out;
}



/* 모바일 선물하기 배너 */

.mobile_gift_delivery img{
    width: 280px;
    border-radius: 5px;
}

.mobile_gift_delivery div{
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.1s ease-in-out;
}
.mobile_gift_delivery div:hover{
    opacity: 1;
    transition: 0.1s ease-in-out;
}

.product_category p{
    font-size: 14px;
    font-weight: 800;
    color: #0D4633;
    padding: 10px 0 22px;
    margin-bottom: 22px;
    border-bottom: 1px solid #fff;
}
.product_category_box_wrap ul{
    display: flex;
}
.product_category_box_wrap ul li{
    margin-right: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #555;
}


/* 년도별 신제품 */
.new_products_wrap{
    width: 1100px;
    margin: 0 auto 100px;
}

.new_products_wrap .new_products_year{
    width: 1100px;
    height: 55px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    color: #0D4633;
    
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.new_products_wrap dd{
    margin-bottom: 60px;
}
.new_banners{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    overflow: scroll ;
}
.img_wrap {
    display: block;
    width: 350px;
    height: 123px;
    border: 1px solid #DADFCB;
    border-radius: 5px;
    margin-right: 20px;
    overflow: hidden;    
}
.img_wrap img{
    width: 100%;
    overflow: hidden;
    transition: transform 0.5s;
}

.img_wrap img:hover {
    transform: scale(1.1, 1.1);
}