/* - reset -  */
@import "../styles/components/_reset.css";

/* - variables -  */
@import "../styles/components/_variables.css";

/* - screens -  */
/* - mainpage - */
@import "../styles/screens/mainpage/mainpage.css";
@import "../styles/screens/mainpage/login.css";
/* - menu -*/

/* - mall - */

/* - searchstore - */
/*  - app - */
@import "../styles/app/homedelivery.css";
@import "../styles/app/faq.css";
@import "../styles/app/inquiry.css";
@import "../styles/app/appmain.css";
/*  - map - */
@import "../styles/map/map.css";
/* - stroy - */

/* - event - Page - */
@import "../styles/screens/eventpage/eventpage.css";
@import "../styles/screens/eventpage/aff_benefits.css";
@import "../styles/screens/eventpage/eventwinner.css";
@import "../styles/screens/eventpage/membership.css";

/*  - customer - page - */
@import "../styles/screens/customercenter/customercenter.css";

/* - partissier- */
@import "../styles/screens/partissier/partissier.css";

/* - start - up */
@import "../styles/screens/startup/startup.css";

/* - footer - */
@import "../styles/components/footer.css";

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: var(--bg-color);
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
.skip_menu {
  position: absolute;
  top: -50px;
}

h2 {
  font-family: "JUA", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@font-face {
  font-family: "JUA";
  src: url(../font/woff/BMJUA.woff) format("woff");
  src: url(../font/woff2/BMJUA.woff2) format("woff2");
  font-size: 50px;
  font-weight: 500;
}
