/* - reset -  */
@import "../styles/components/_reset.css";

/* - variables -  */
@import "../styles/components/_variables.css";

/* - screens -  */
/* - menu -*/

/* - mall - */

/* - searchstore - */

/* - stroy - */

/* - event - Page - */
@import "../styles/screens/eventpage/eventpage.css";

@font-face {
  font-family: "JUA";
  src: url(../font/woff/BMJUA.woff) format("woff");
  src: url(../font/woff2/BMJUA.woff2) format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "YACHAE";
  src: url(../font/woff/yanolja-yachae-reg.woff) format("woff");
  src: url(../font/woff2/yanolja-yachae-reg.woff2) format("woff2");
  font-weight: normal;
}
