/* - reset -  */
@import "../styles/components/_reset.css";

/* - variables -  */
@import "../styles/components/_variables.css";

/* - screens -  */
/* - mainpage - */
@import "../styles/screens/mainpage/mainpage.css";
@import "../styles/screens/mainpage/login.css";
/* - menu -*/
@import "../styles/screens/menu/bread.css";
@import "../styles/screens/menu/bread_01.css";

/* - mall - */

/* - searchstore - */
/*  - map - */
@import "../styles/map/map.css";
@import "../styles/map/homedelivery.css";
/* - stroy - */

/* - event - Page - */
@import "../styles/screens/eventpage/eventpage.css";
@import "../styles/screens/eventpage/aff_benefits.css";
@import "../styles/screens/eventpage/eventwinner.css";
@import "../styles/screens/eventpage/membership.css";

/*  - customer - page - */
@import "../styles/screens/customercenter/customercenter.css";

/* - footer - */
@import "../styles/components/footer.css";

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  background: #f7f0da;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}
.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none;
}
button{
  border: none;
  background-color: inherit;
}