<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/style.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="partissier__wrap">
        <h2 class="hidden">기사 채용안내</h2>

        <div class="partissier__head-cont">
          <ul>
            <li>
              <h3>기사 채용안내</h3>
              <section class="partissier__body-cont">
                <div class="partissier__info">
                  <img
                    src="../../img/partssier/bg_recruit_1.gif"
                    alt="배경이미지"
                  />

                  <div class="partissier__info-text">
                    <h3>기사채용 안내</h3>
                    <p>
                      뚜레쥬르에서는 제빵이론과 현장실무 위주의 냉동생지,생크림
                      케이크 제조등의 실기중심의 교육 프로그램을 바탕으로
                    </p>
                    <p>
                      실무 역량이 뛰어난 전문 기술인력을 배출하기 위해 교육을
                      실시하고 있습니다.
                    </p>
                    <p>
                      ※ 테크니컬 센터 채용은 매일산업, 선일산업, 유일산업,
                      수인파트너스, 브레드텍 (5개) 업체에서 진행되며, CJ푸드빌과
                      무관하오니 참고하시기 바랍니다.
                    </p>
                  </div>
                  <div class="partissier__body-nav">
                    <ul>
                      <li>신입 생산기사 양성</li>
                      <li>경력기사 채용</li>
                    </ul>
                  </div>
                </div>

                <div class="new-partissier__body-cont">
                  <div class="new-partissier__body-list">
                    <ul>
                      <li>
                        <img
                          src="../../img/partssier/partissier_8.png"
                          alt=""
                        />
                        <p>
                          제과제빵교육원 베이커리 산업에 필요한 전문 인력 양성을
                          위하여 이론 및 매뉴얼 중심의 실습교육을 진행
                          (정기교육)
                        </p>
                        <button href="">채용공고</button>
                        <button href="">자세히 보기</button>
                      </li>
                      <li>
                        <img
                          src="../../img/partssier/partissier_9.png"
                          alt=""
                        />
                        <p>
                          베이커리 산업에 필요한 전문 인력 양성을 위하여 현장
                          실무 중심의 실습 교육을 진행 (수시교육)
                        </p>
                        <button href="">채용공고</button>
                        <button href="">자세히 보기</button>
                      </li>
                    </ul>
                  </div>

                  <div class="new-partissier__foodbill">
                    <div class="partissier__foodbill-list">
                      <h3>푸드빌</h3>
                      <ul>
                        <li><a href="">CJ푸드빌 교육소개</a></li>
                        <li><a href="">채용 및 입사지원 안내</a></li>
                        <li><a href="">교육과정</a></li>
                      </ul>
                    </div>

                    <div class="part_foodbill-intro-edu">
                      <h4>CJ푸드빌 교육소개</h4>
                      <p>
                        베이커리 산업에 필요한 점포기사를 양성하기 위하여 일반
                        제빵이론과 실습, 현장실무위주의
                        냉동생지실습,생크림케이크 제조실습 등, 실습 중심의
                        교육을 진행하고 있으며 무료로 양질의 교육을 제공하고
                        베이커리 산업에 필요한 기술 인력을 배출하기 위해
                        교육하고 있습니다.
                      </p>
                      <p>
                        또한 베이커리 기술인력 뿐 아니라 관련 산업의 매장
                        매니져, QC(품질관리), 점포창업 등의 기회를 제공하는
                        기술인력 성장의 장이 되고 있습니다.
                      </p>
                      <p>
                        현재 CJ푸드빌 교육은 실무 역량이 뛰어난 수준 높은 전문
                        기술인력을 배출하고 있으며 다양한 직무경험 기회를
                        제공하여 개인 역량개발 지원에도 박차를 가하고 있습니다.
                      </p>
                      <a href="">채용공고 바로가기</a>
                    </div>

                    <div class="part_foodbill-intro-recruit hidden">
                      <div class="part_intro-recruit-text">
                        <h4>직무소개</h4>
                        <p>1. 신규 가맹 점포 오픈지원</p>
                        <p>2. 신규점 및 기존점 생산지원</p>
                        <p>3. 점주기사 점포 대체 지원</p>
                      </div>

                      <div class="part_intro-recruit-text">
                        <h4>지원자격</h4>
                        <p>1. 고졸 이상(기졸업자 및 '23년 02월 졸업예정자)</p>
                        <p>2. 경력 무관 / 신입 지원 가능</p>
                        <p>3. 전국 출장 가능자</p>
                        <span>
                          &#8251; 위 내용에 대해 허위 사실 발견 등 부적격 사유
                          발생 시 채용이 취소될 수 있습니다.
                        </span>
                      </div>

                      <div class="part_intro-recruit-text">
                        <h4>진행절차</h4>
                        <img
                          src="../../img/partssier/partissier_10.jpeg"
                          alt=""
                        />
                        <p>
                          &#8251; 서류전형 합격자에 한아여 세부일정 별도 안내
                        </p>
                        <p>
                          &#8251; 상기 예정 일정은 회사 사정에 따라 변경 가능
                        </p>
                      </div>

                      <div class="part_intro-recruit-text">
                        <h4>직무소개</h4>
                        <p>
                          CJ푸드빌 외식브랜드(VIPS, 제일제면소 등)
                          <span>35% 할인</span>
                        </p>
                        <p>4대보험 제공</p>
                        <p>경조사 지원(경조물품, 경조휴가, 경조금)</p>
                      </div>

                      <div class="part_intro-recruit-text">
                        <h4>채용문의</h4>
                        <p>jinchul.hwang@cj.net (문의 / 접수)</p>
                      </div>
                    </div>

                    <div class="part_foodbill-curriculum hidden">
                      <p>&#8251; 교육 주는 상황에 따라 별경될 수 있음</p>
                      <table>
                        <tr>
                          <th>교육기간</th>
                          <td><p>8주 / 10주 (8H/일)</p></td>
                        </tr>
                        <tr>
                          <th>교육내용</th>
                          <td>
                            <p>일반 재빵이론 및 실습</p>
                            <p>냉동반죽 이론 및 제조실습</p>
                            <p>생크림 cake 제조 실습</p>
                            <p>생산안전교육</p>
                            <p>개인 및 작업 위생교육(HACCP)</p>
                            <p>경력관리 및 직업의식 교육</p>
                            <p>현장 실습 전 Simulation</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div class="new-partissier__techcenter hidden">
                    <div class="partissier__tech-list hidden">
                      <h3>테크니컬 센터</h3>
                      <ul>
                        <li>센터 소개</li>
                        <li>교육 과정</li>
                        <li>채용 절차</li>
                        <li>채용 문의</li>
                      </ul>
                    </div>

                    <div class="partissier__techcenter-intro hidden">
                      <h3 class="hidden">센터소개</h3>

                      <div class="part_tech-intro-text">
                        <h4>지원 자격 조건</h4>
                        <table>
                          <tr>
                            <th>제과/제빵에 열의가 있는 자</th>
                            <td>
                              <p>신입- 경력, 학력, 연령, 성별 제한 없음</p>
                            </td>
                          </tr>
                          <tr>
                            <th>제과/제빵 관련자</th>
                            <td><p>경력- 일반제과 2년 이상인 자</p></td>
                          </tr>
                        </table>
                      </div>

                      <div class="part_tech-intro-text">
                        <h4>제출서류</h4>
                        <table>
                          <tr>
                            <th>예비소집 시</th>
                            <td>
                              <p>등본1통</p>
                              <p>보건증사본</p>
                              <p>통장사본(우리은행)</p>
                              <p>반명함 사진1매 (6개월이내)</p>
                              <p>구직등록필증</p>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <a href="">채용공고 바로가기</a>
                    </div>

                    <div class="partssier__techcenter-curricul hidden">
                      <h4>테크니컬 센터 소개 교육과정</h4>
                      <p>교육과정 : 뚜레쥬르 생산기사 양성과정</p>
                      <p>
                        교육대상 : 취업의자가 강하고 베이커리 분야에 적성과
                        열정을 가지신 분
                      </p>
                      <p>교육기간 : 테크니컬센터: 8 ~ 10주(8H / 일)</p>
                      <p>
                        교육내용 : 냉동반죽 제조 실습, 생크림 케이크 제조 실습,
                        위생 관리등
                      </p>
                      <p>교육장소 : 서울,경기(수원) 및 각 지방 센터</p>
                      <p>
                        기타 : 교육비 전액 무료, 중식 제공, 훈련수당 지급(월
                        80%이상 출석시), 수료 후 성적 우수자 뚜레쥬르 취업알선,
                        취업 전 2 ~ 3개월 현장실습
                      </p>
                    </div>

                    <div class="partssier__recruit-process hidden">
                      <h4>채용절차</h4>
                      <img src="../../img/partssier/partissier_1.png" alt="" />
                    </div>

                    <div class="partssier__recruit-faq hidden">
                      <h3>테크니컬 센터 교육관련 연락처</h3>
                      <table class="center-info">
                        <tr>
                          <th>협력사</th>
                          <th>센터명</th>
                          <th>전화번호</th>
                          <th>담당지역</th>
                        </tr>
                        <tr>
                          <td rowspan="5">매일산업</td>
                          <td>제주</td>
                          <td>010-7151-0972</td>
                          <td>
                            <p>제주시</p>
                            <span
                              >제주특별자치도 제주시 복지로 70, 3층
                              (방선문빌리지상가)</span
                            >
                          </td>
                        </tr>

                        <tr>
                          <td>이문</td>
                          <td>02-461-5073</td>
                          <td>
                            <p>
                              서울 성동, 종로, 노원, 경기 의정부, 남양주, 양주,
                              포천, 동두천, 연천 등
                            </p>
                            <span>서울특별시 동대문구 이문로136, 218호</span>
                          </td>
                        </tr>
                        <tr>
                          <td>송파</td>
                          <td>02-461-5073</td>
                          <td>
                            <p></p>
                            <span></span>
                            서울 강남구, 강동구, 송파구, 서초구 서울특별시
                            송파구 석촌동 273-5 일신빌딩 6층
                          </td>
                        </tr>
                        <tr>
                          <td>화정</td>
                          <td>02-461-5073</td>
                          <td>
                            <p>서울 마포구, 서대문구, 은평구, 파주시, 고양시</p>
                            <span
                              >경기도 고양시 화중로 219, 달빛마을
                              107-206호</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>강원</td>
                          <td>033-747-9062</td>
                          <td>
                            <p>강원도 전체, 영월, 태백</p>
                            <span>
                              강원도 원주시 단계동 865-6 더 파크타워 5층</span
                            >
                          </td>
                        </tr>

                        <tr>
                          <td rowspan="2">브레드텍</td>
                          <td>인천</td>
                          <td>032-511-9072</td>
                          <td>
                            <p>부평, 인천지역</p>
                            <span>
                              인천광역시 부평구 부평6동 604-15번지 오상빌딩 2층
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>금정</td>
                          <td>031-268-9074</td>
                          <td>
                            <p>
                              기도 수원시, 안양시, 안산시, 광명시, 평택시,
                              오산시, 용인시, 이천시, 인천지
                            </p>
                            <span>
                              경역 경기도 군포시 산본동 1026-52, 엘앤씨타워
                              401,402호
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td rowspan="2">수인파트너스</td>
                          <td>발산</td>
                          <td>02-3661-2023</td>
                          <td>
                            <p>
                              서울 관악구, 동작구, 구로구, 금천구, 양천구,
                              강서구/경기 부천, 김포/인천 서구, 강화
                            </p>
                            <span>서울특별시 강서구 강서로 52길 50, 5층</span>
                          </td>
                        </tr>
                        <tr>
                          <td>성남</td>
                          <td>031-772-2023</td>
                          <td>
                            <p>경기도 성남시(분당), 용인시, 광주시</p>
                            <span>
                              경기도 성남시 중원구 성남동 4170 한일타워 11층
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td rowspan="5">선일산업</td>
                          <td>대전</td>
                          <td>042-624-6279</td>
                          <td>
                            <p>대전시, 충청도 전지역</p>
                            <span
                              >대전광역시 동구 용전동 21-3 종근당빌딩1층</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>광주</td>
                          <td>062-972-6941</td>
                          <td>
                            <p>광주시, 전남지역</p>
                            <span>
                              광주광역시 관산구 월계동890-4 신양매디컬빌딩302호
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>전주</td>
                          <td>063-252-6945</td>
                          <td>
                            <p></p>
                            <span></span>
                            전주시, 전북지역, 충남 논산지역 전라북도 전주시
                            완산구 서신동 949-11번지 노블하우스 1층
                          </td>
                        </tr>
                        <tr>
                          <td>청주</td>
                          <td>043-233-6278</td>
                          <td>
                            <p>청주시, 세종시, 충북지역</p>
                            <span
                              >충청북도 청주시 흥덕구 강서동 467 주산휴네스트
                              201호</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>순천</td>
                          <td>061-745-6941</td>
                          <td>
                            <p>순천, 여수, 광양지역, 전남 일부지역</p>
                            <span>전라남도 순천시 장천동 14-2번지</span>
                          </td>
                        </tr>

                        <tr>
                          <td rowspan="2">유일산업</td>
                          <td>대구</td>
                          <td>053-628-2030</td>
                          <td>
                            <p>대구시, 경북지역</p>
                            <span
                              >대구광역시 달서구 달구벌대로 1686 송림타워
                              13층</span
                            >
                          </td>
                        </tr>
                        <tr>
                          <td>부산</td>
                          <td>051-862-6747</td>
                          <td>
                            <p>부산시, 경남지역</p>
                            <span
                              >부산광역시 부산진구 중앙대로 919 한들빌딩
                              5층</span
                            >
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="experienced-partissier-body-cont hidden">
                      <div class="experienced-info-text">
                        <h4>SPECIALSIT DREAM</h4>
                        <p>
                          제빵 스페셜리스트의 꿈, 뚜레쥬르에서 마음껏 펼쳐
                          보세요.
                        </p>
                        <p>
                          뚜레쥬르에서는 능력있는 제빵기술인을 수시로 모집하고
                          있습니다.
                        </p>
                        <p>
                          온라인으로 지원 하시면 즉시 담당자를 통해 면접 및 실기
                          테스트를 실행하며,
                        </p>
                        <p>
                          기능도에 따라 최대 2개월 이내 현장 실습과 교육 후
                          뚜레쥬르 점포 기사로 근무하실 수 있습니다.
                        </p>
                        <p>
                          ※ 테크니컬 센터 채용은 매일산업, 선일산업, 유일산업,
                          수인파트너스, 브레드텍 (5개) 업체에서 진행되며,
                        </p>
                        <p>CJ푸드빌 채용과 무관하오니 참고하시기 바랍니다.</p>
                      </div>
                      <div class="experienced-info">
                        <h4>채용문의</h4>
                        <table class="center-info">
                          <tr>
                            <th>협력사</th>
                            <th>센터명</th>
                            <th>전화번호</th>
                            <th>담당지역</th>
                          </tr>
                          <tr>
                            <td rowspan="5">매일산업</td>
                            <td>제주</td>
                            <td>010-7151-0972</td>
                            <td>
                              <p>제주시</p>
                              <span
                                >제주특별자치도 제주시 복지로 70, 3층
                                (방선문빌리지상가)</span
                              >
                            </td>
                          </tr>

                          <tr>
                            <td>이문</td>
                            <td>02-461-5073</td>
                            <td>
                              <p>
                                서울 성동, 종로, 노원, 경기 의정부, 남양주,
                                양주, 포천, 동두천, 연천 등
                              </p>
                              <span>서울특별시 동대문구 이문로136, 218호</span>
                            </td>
                          </tr>
                          <tr>
                            <td>송파</td>
                            <td>02-461-5073</td>
                            <td>
                              <p></p>
                              <span></span>
                              서울 강남구, 강동구, 송파구, 서초구 서울특별시
                              송파구 석촌동 273-5 일신빌딩 6층
                            </td>
                          </tr>
                          <tr>
                            <td>화정</td>
                            <td>02-461-5073</td>
                            <td>
                              <p>
                                서울 마포구, 서대문구, 은평구, 파주시, 고양시
                              </p>
                              <span
                                >경기도 고양시 화중로 219, 달빛마을
                                107-206호</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>강원</td>
                            <td>033-747-9062</td>
                            <td>
                              <p>강원도 전체, 영월, 태백</p>
                              <span>
                                강원도 원주시 단계동 865-6 더 파크타워 5층</span
                              >
                            </td>
                          </tr>

                          <tr>
                            <td rowspan="2">브레드텍</td>
                            <td>인천</td>
                            <td>032-511-9072</td>
                            <td>
                              <p>부평, 인천지역</p>
                              <span>
                                인천광역시 부평구 부평6동 604-15번지 오상빌딩
                                2층
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>금정</td>
                            <td>031-268-9074</td>
                            <td>
                              <p>
                                기도 수원시, 안양시, 안산시, 광명시, 평택시,
                                오산시, 용인시, 이천시, 인천지
                              </p>
                              <span>
                                경역 경기도 군포시 산본동 1026-52, 엘앤씨타워
                                401,402호
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td rowspan="2">수인파트너스</td>
                            <td>발산</td>
                            <td>02-3661-2023</td>
                            <td>
                              <p>
                                서울 관악구, 동작구, 구로구, 금천구, 양천구,
                                강서구/경기 부천, 김포/인천 서구, 강화
                              </p>
                              <span>서울특별시 강서구 강서로 52길 50, 5층</span>
                            </td>
                          </tr>
                          <tr>
                            <td>성남</td>
                            <td>031-772-2023</td>
                            <td>
                              <p>경기도 성남시(분당), 용인시, 광주시</p>
                              <span>
                                경기도 성남시 중원구 성남동 4170 한일타워 11층
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td rowspan="5">선일산업</td>
                            <td>대전</td>
                            <td>042-624-6279</td>
                            <td>
                              <p>대전시, 충청도 전지역</p>
                              <span
                                >대전광역시 동구 용전동 21-3 종근당빌딩1층</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>광주</td>
                            <td>062-972-6941</td>
                            <td>
                              <p>광주시, 전남지역</p>
                              <span>
                                광주광역시 관산구 월계동890-4
                                신양매디컬빌딩302호
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td>전주</td>
                            <td>063-252-6945</td>
                            <td>
                              <p></p>
                              <span></span>
                              전주시, 전북지역, 충남 논산지역 전라북도 전주시
                              완산구 서신동 949-11번지 노블하우스 1층
                            </td>
                          </tr>
                          <tr>
                            <td>청주</td>
                            <td>043-233-6278</td>
                            <td>
                              <p>청주시, 세종시, 충북지역</p>
                              <span
                                >충청북도 청주시 흥덕구 강서동 467 주산휴네스트
                                201호</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>순천</td>
                            <td>061-745-6941</td>
                            <td>
                              <p>순천, 여수, 광양지역, 전남 일부지역</p>
                              <span>전라남도 순천시 장천동 14-2번지</span>
                            </td>
                          </tr>

                          <tr>
                            <td rowspan="2">유일산업</td>
                            <td>대구</td>
                            <td>053-628-2030</td>
                            <td>
                              <p>대구시, 경북지역</p>
                              <span
                                >대구광역시 달서구 달구벌대로 1686 송림타워
                                13층</span
                              >
                            </td>
                          </tr>
                          <tr>
                            <td>부산</td>
                            <td>051-862-6747</td>
                            <td>
                              <p>부산시, 경남지역</p>
                              <span
                                >부산광역시 부산진구 중앙대로 919 한들빌딩
                                5층</span
                              >
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </li>

            <li>
              <h3>기사 채용공고</h3>
              <section class="partissier__recruit-notice hidden">
                <div class="parti__recruit-info">
                  <img
                    src="../../img/partssier/bg_recruit_1.gif"
                    alt="배경이미지"
                  />
                  <div class="partissier__info-text">
                    <h3>기사 채용공고</h3>
                    <p>
                      본 채용은 가맹점 제과제빵기사 모집을 위한 채용으로
                      매일산업, 선일산업, 유일산업, 수인파트너스, 브레드텍 (5개)
                      업체에서 진행하며, CJ푸드빌 채용과 무관하오니 참고하시기
                      바랍니다.
                    </p>
                  </div>
                </div>
                <form action="">
                  <fieldset>
                    <legend class="hidden">기사 채용공고 검색</legend>
                    <label for="recruit_process">진행상태</label>
                    <select name="" id="recruit_process">
                      <option value="1">전체</option>
                      <option value="2">접수중/접수마감</option>
                      <option value="3">서류심사</option>
                      <option value="4">채용완료</option>
                    </select>

                    <label for="recruit_kindof">채용구분</label>
                    <select name="" id="recruit_kindof">
                      <option value="1">채용구분</option>
                      <option value="2">CJ푸드빌</option>
                      <option value="3">테크니컬센터</option>
                    </select>

                    <label for="recruit_local">지역</label>
                    <select name="" id="recruit_local">
                      <option value="">지역</option>
                      <option class="hidden" value="1"></option>
                      <option class="hidden" value="a">강원</option>
                      <option class="hidden" value="b">광주</option>
                      <option class="hidden" value="c">대구</option>
                      <option class="hidden" value="d">대전</option>
                      <option class="hidden" value="e">발산</option>
                      <option class="hidden" value="f">부산</option>
                      <option class="hidden" value="g">성남</option>
                      <option class="hidden" value="h">송파</option>
                      <option class="hidden" value="i">수원</option>
                      <option class="hidden" value="j">순천</option>
                      <option class="hidden" value="k">연신내</option>
                      <option class="hidden" value="l">의정부</option>
                      <option class="hidden" value="m">이문</option>
                      <option class="hidden" value="n">인천</option>
                      <option class="hidden" value="o">전주</option>
                      <option class="hidden" value="p">제주</option>
                      <option class="hidden" value="q">진주</option>
                      <option class="hidden" value="r">청주</option>
                      <option class="hidden" value="s">충남</option>
                      <option class="hidden" value="t">화정</option>
                    </select>

                    <label for="recruit_search">제목내용</label>
                    <input id="recruit_search" type="text" />
                    <button type="button">검색</button>
                  </fieldset>
                </form>
                <div class="recruit-notice--table">
                  <h4>총 <span>9개</span> 글이 등록되었습니다.</h4>
                  <table>
                    <tr>
                      <th>번호</th>
                      <th>구분</th>
                      <th>지역</th>
                      <th>제목</th>
                      <th>기간</th>
                      <th>진행상태</th>
                    </tr>
                    <tr>
                      <td>7</td>
                      <td>테크니컬센터</td>
                      <td>순천</td>
                      <td>
                        <a href="">
                          뚜레쥬르 순천센터19기 교육생 & 경력사원 모집 -
                          순천,여수,광양,전남전지역
                        </a>
                      </td>
                      <td>2023.04.24 ~ 2023.05.21</td>
                      <td>접수중</td>
                    </tr>
                    <tr>
                      <td>6</td>
                      <td>테크니컬센터</td>
                      <td>제주</td>
                      <td>
                        <a href="">뚜레쥬르 제주센터 교육생모집제주 전 지역</a>
                      </td>
                      <td>2023.04.18 ~ 2023.12.31</td>
                      <td>접수중</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>테크니컬센터</td>
                      <td>연신내</td>
                      <td>
                        <a href="">
                          뚜레쥬르 화정센터 교육생모집일산,파주,은평,마포지역
                        </a>
                      </td>
                      <td>2023.03.27 ~ 2023.12.31</td>
                      <td>접수중</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>테크니컬센터</td>
                      <td>강원</td>
                      <td>
                        <a href=""
                          >뚜레쥬르 강원원주센터 교육생모집강원 전 지역</a
                        >
                      </td>
                      <td>2023.02.15 ~ 2023.12.31</td>
                      <td>접수중</td>
                    </tr>
                    <tr>
                      <td>3</td>
                      <td>테크니컬센터</td>
                      <td>수원</td>
                      <td>
                        <a href="">
                          뚜레쥬르 금정센터,인천센터 신입/경력 교육생을
                          모집합니다. -경기남부지역/인천전지역-
                        </a>
                      </td>
                      <td>2023.02.07 ~ 2024.02.06</td>
                      <td>접수중</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>테크니컬센터</td>
                      <td>이문</td>
                      <td>
                        <a href="">
                          뚜레쥬르 서울이문센터 교육생모집서울지역,
                          의정부,구리남양주, 강원일부
                        </a>
                      </td>
                      <td>2023.01.04 ~ 2023.12.31</td>
                      <td>접수중</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>테크니컬센터</td>
                      <td>송파</td>
                      <td>
                        <a href="">
                          뚜레쥬르 송파테크니컬센터 교육생모집
                          강동/송파/남양주/구리/양평/덕소/하남 /강남/서초/위례
                        </a>
                      </td>
                      <td>2023.04.18 ~ 2023.12.31</td>
                      <td>접수중</td>
                    </tr>
                  </table>
                </div>
                <div class="recruit_notice-pager"></div>
              </section>
            </li>

            <li>
              <h3>채용지역</h3>
              <section class="recruit_location_wrap hidden">
                <div class="recruit_location-info">
                  <img
                    src="../../img/partssier/bg_recruit_1.gif"
                    alt="배경이미지"
                  />
                  <div class="recruit_location-info-text">
                    <h4>뚜레쥬르 채용 지역</h4>
                    <p>
                      뚜레쥬르 기사 채용 관련 하여 궁금하신 내용은 하기 내용을
                      참고 해 주세요
                    </p>
                  </div>
                </div>
                <div class="recruit_location-table">
                  <h4>경력기술인 및 테크니컬 센터 채용 문의</h4>
                  <table class="center-info">
                    <tr>
                      <th>협력사</th>
                      <th>센터명</th>
                      <th>전화번호</th>
                      <th>담당지역</th>
                    </tr>
                    <tr>
                      <td rowspan="5">매일산업</td>
                      <td>제주</td>
                      <td>010-7151-0972</td>
                      <td>
                        <p>제주시</p>
                        <span
                          >제주특별자치도 제주시 복지로 70, 3층
                          (방선문빌리지상가)</span
                        >
                      </td>
                    </tr>

                    <tr>
                      <td>이문</td>
                      <td>02-461-5073</td>
                      <td>
                        <p>
                          서울 성동, 종로, 노원, 경기 의정부, 남양주, 양주,
                          포천, 동두천, 연천 등
                        </p>
                        <span>서울특별시 동대문구 이문로136, 218호</span>
                      </td>
                    </tr>
                    <tr>
                      <td>송파</td>
                      <td>02-461-5073</td>
                      <td>
                        <p></p>
                        <span></span>
                        서울 강남구, 강동구, 송파구, 서초구 서울특별시 송파구
                        석촌동 273-5 일신빌딩 6층
                      </td>
                    </tr>
                    <tr>
                      <td>화정</td>
                      <td>02-461-5073</td>
                      <td>
                        <p>서울 마포구, 서대문구, 은평구, 파주시, 고양시</p>
                        <span
                          >경기도 고양시 화중로 219, 달빛마을 107-206호</span
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>강원</td>
                      <td>033-747-9062</td>
                      <td>
                        <p>강원도 전체, 영월, 태백</p>
                        <span> 강원도 원주시 단계동 865-6 더 파크타워 5층</span>
                      </td>
                    </tr>

                    <tr>
                      <td rowspan="2">브레드텍</td>
                      <td>인천</td>
                      <td>032-511-9072</td>
                      <td>
                        <p>부평, 인천지역</p>
                        <span>
                          인천광역시 부평구 부평6동 604-15번지 오상빌딩 2층
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>금정</td>
                      <td>031-268-9074</td>
                      <td>
                        <p>
                          기도 수원시, 안양시, 안산시, 광명시, 평택시, 오산시,
                          용인시, 이천시, 인천지
                        </p>
                        <span>
                          경역 경기도 군포시 산본동 1026-52, 엘앤씨타워
                          401,402호
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="2">수인파트너스</td>
                      <td>발산</td>
                      <td>02-3661-2023</td>
                      <td>
                        <p>
                          서울 관악구, 동작구, 구로구, 금천구, 양천구,
                          강서구/경기 부천, 김포/인천 서구, 강화
                        </p>
                        <span>서울특별시 강서구 강서로 52길 50, 5층</span>
                      </td>
                    </tr>
                    <tr>
                      <td>성남</td>
                      <td>031-772-2023</td>
                      <td>
                        <p>경기도 성남시(분당), 용인시, 광주시</p>
                        <span>
                          경기도 성남시 중원구 성남동 4170 한일타워 11층
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td rowspan="5">선일산업</td>
                      <td>대전</td>
                      <td>042-624-6279</td>
                      <td>
                        <p>대전시, 충청도 전지역</p>
                        <span>대전광역시 동구 용전동 21-3 종근당빌딩1층</span>
                      </td>
                    </tr>
                    <tr>
                      <td>광주</td>
                      <td>062-972-6941</td>
                      <td>
                        <p>광주시, 전남지역</p>
                        <span>
                          광주광역시 관산구 월계동890-4 신양매디컬빌딩302호
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>전주</td>
                      <td>063-252-6945</td>
                      <td>
                        <p></p>
                        <span></span>
                        전주시, 전북지역, 충남 논산지역 전라북도 전주시 완산구
                        서신동 949-11번지 노블하우스 1층
                      </td>
                    </tr>
                    <tr>
                      <td>청주</td>
                      <td>043-233-6278</td>
                      <td>
                        <p>청주시, 세종시, 충북지역</p>
                        <span
                          >충청북도 청주시 흥덕구 강서동 467 주산휴네스트
                          201호</span
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>순천</td>
                      <td>061-745-6941</td>
                      <td>
                        <p>순천, 여수, 광양지역, 전남 일부지역</p>
                        <span>전라남도 순천시 장천동 14-2번지</span>
                      </td>
                    </tr>

                    <tr>
                      <td rowspan="2">유일산업</td>
                      <td>대구</td>
                      <td>053-628-2030</td>
                      <td>
                        <p>대구시, 경북지역</p>
                        <span
                          >대구광역시 달서구 달구벌대로 1686 송림타워 13층</span
                        >
                      </td>
                    </tr>
                    <tr>
                      <td>부산</td>
                      <td>051-862-6747</td>
                      <td>
                        <p>부산시, 경남지역</p>
                        <span
                          >부산광역시 부산진구 중앙대로 919 한들빌딩 5층</span
                        >
                      </td>
                    </tr>
                  </table>
                </div>
              </section>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer_wrap">
        <div class="company">
          <ul>
            <li>
              <a href="http://www.cjfoodville.co.kr/story/foodvilleintro.html"
                >회사소개</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/recruit/recruit_index.asp"
                >기사채용안내</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/franchise/index.asp"
                >창업안내</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/etc/sitemap.asp">사이트맵</a>
            </li>
          </ul>
        </div>
        <div class="policy">
          <ul>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/userpolicy.asp"
                >이용약관</a
              >
            </li>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/location.asp"
                >위치기반서비스 이용약관</a
              >
            </li>
            <li class="private">
              <a href="https://www.cjfoodville.co.kr/footer/privacy.asp"
                >개인정보처리방침</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/etc/email.asp"
                >이메일무단수집거부</a
              >
            </li>
            <li>
              <a href="https://www.cjfoodville.co.kr/footer/ethic_center.asp"
                >윤리신고센터</a
              >
            </li>
            <li>
              <a href="https://www.tlj.co.kr:7008/etc/legal.asp">법적고지</a>
            </li>
          </ul>
        </div>
        <div class="address">
          <p>
            <span>상호명 : CJ푸드빌(주)</span>
            <span>
              <address>
                주소 : (우)04555 서울시 중구 마른내로34(초동 106-9번지)KT&amp;G
                을지로타워 3, 9-11층 CJ푸드빌㈜s
              </address>
            </span>
          </p>

          <p>
            <span>고객센터 : 1577-0700</span>
            <span class="ftc_confirm"
              >통신판매업종신고증 제 2011-서울중구-0771호</span
            >
            <a
              href="https://www.ftc.go.kr/waitingroom/main.html"
              target="_blank"
              title="새창열림"
            >
              <img
                src="../../img/menu/footer_info_information.png"
                alt="사업자정보확인"
              />
            </a>
            <span class="hosting">호스팅제공자 : CJ올리브네트웍스(주)</span>
          </p>

          <p>
            <span>사업자등록번호 : 312-81-42519</span>
            <span>대표이사 : 김찬호</span>
            <span>개인정보보호책임자 : 오창호</span>
            <span class="email"
              ><a href="mailto:help_master@cj.net"
                >대표 이메일 : help_master@cj.net</a
              ></span
            >
          </p>

          <p class="copyright">
            COPYRIGHT 2023©CJ Foodville ALL RIGHT RESERVED.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
